[2016-12-12 13:14] fjrojasgarcia opened #1 "A good development environment and testing framework for Ethereum - Proposal"
I would like to propose this interesting framework to be mention and might be also documented in the future **Ethereum book**.

**Truffle** is a development environment, testing framework and asset pipeline for Ethereum, aiming to make life as an Ethereum developer easier.

`https://github.com/ConsenSys/truffle`

I would like to contribute if necessary.

[2017-06-18 05:10] sgerhardt opened #3 "https://ethereumbook.info/can't be reached"
It's referenced in [preface.asciidoc](https://github.com/ethereumbook/ethereumbook/blob/develop/preface.asciidoc#how-to-contact-us)

[2017-06-19 02:53] marlazinger200 opened #4 "Mr."
1

[2017-06-19 03:05] aantonop commented on #1
I welcome contributions.

I expect that Truffle will be part of the book

[2017-06-19 03:06] aantonop commented on #3
The website has not been developed yet. It will be a landing page with information about the book. I expect to have it built in the next 2 months.

[2017-06-19 07:33] ghost commented on #3
I'd make a note of that next to the link or remove the link until it's live then.

[2017-06-19 12:32] #3 closed, assigned to nobody

[2017-06-29 22:06] eyezick opened #77 "Advocating for Mainnet full node"
Question: Why recommend new Ethereum devs to run Mainnet nodes?

Advantages:

- Can interact with other live contracts
- Verify own transactions
- Deploy own contracts

Disadvantages:

- Longer setup time
- Hardware resource cost
- **Costs ETH to deploy/test/interact with contracts**

Arguably, I'd say a combination of a Ropsten local node and Testrpc would be simpler to set up a dev environment.

[2017-07-11 07:01] kitsuphat2528 commented on #1
Yes,

[2017-07-11 08:49] danielquinn opened #78 "Simple non-currency tutorial"
As someone new to Ethereum, I've been spending a lot of time searching for a tutorial that will allow me to store small amounts of arbitrary data in the blockchain, but every tutorial out there seems to think I want to keep track of money or apply logic to what's getting stored.

Often I find that the most effective tutorials are the ones that focus on one feature at a time, so I would suggest tha

[2017-07-12 14:00] snollygolly opened #79 "The website linked in this repo doesn't work"
https://ethereumbook.info/ fails to load.

[2017-07-17 16:19] fjrojasgarcia opened #82 "Embark as another very interesting framework for Smartcontracts"
I'm testing Embark and it's surprising me a lot.
I'm using it with Parity on Kovan and it run like a charm.
I think that the book could have a chapter for the most used frameworks and Embark is one of them.

[2017-07-17 16:25] fjrojasgarcia opened #83 "Testnet networks alternatives"
When a developer comes to Solidity, She or He should know the testnet networks that are out there, Ropsten, Kovan, Rinkeyby, their most important differences, known problems and risks, and important concepts as Proof of Authority, etc.

Let's give a path election to the newcomers.

[2017-07-17 16:33] fjrojasgarcia opened #84 "Gateways and others forms to access the Ethereum network without local nodes"
For those who can't spend many resources to maintain synchronized local nodes, I think the book could cover this part also.

There are alternatives to facilitate the use of the Ethereum network without the hassle of maintain synchronized local nodes.

I have personally tested;

- https://infura.io
- https://www.blockcypher.com/dev/ethereum
- https://metamask.io
- https://www.myetherwallet.com

[2017-07-17 17:10] fjrojasgarcia opened #85 "Privacy on ethereum"
I think Privacy on ethereum could be an important aspect to be cover by the book.

Thre are already several projects trying to implement privacy on ethereum, most notably Zcash-on-ethereum (ZoE), Hawk and the later Zcoin.

[2017-07-17 17:23] fjrojasgarcia opened #86 "Private Ethereum networks creation and maintenance"
Another aspect probably of interesting application could be the creation of private Ethereum networks and maintenance, p.e. mining considerations.

Although it could be out from the original philosophy of public application of the protocol, it can be very useful in certain circumstances more typical of the business environment.

It would be remarkable the case of https://monax.io

[2017-09-15 00:39] ronaldpetty opened #88 "Website Down"
Hello,

It seems the link to the website is broken.  Is this expected?

Regards.

Ron

[2017-09-15 03:45] kontrollanten commented on #88
Hi!

 I assume that issue #3 still is relevant. @aantonop It may be an idea to remove the URL 'til the site is live?

[2017-09-15 03:55] aantonop commented on #88
Not pushing any changes to the repo for now. When I push some actual book
content the site will be up.

On Sep 14, 2017 23:45, "kontrollanten" <notifications@github.com> wrote:

[2017-09-18 08:29] ronaldpetty commented on #88
@aantonop Any need of technical reviewer for the new book?  Loved MB, just trying to keep up on thing!  Keep up the good work.

[2017-10-20 20:06] apmilen opened #89 "Developer tools"
Hi,

I have no idea if you're planning on writing about Ethereum developer tools. If you are, I'd like to draw your attention to https://dapp.tools , a command line toolchain and smart contract standard library written in the style of the Unix design philosophy. However I think you probably shouldn't write about developer tools, as those trends can change very quickly (as we've seen in Javascript)

[2017-10-26 11:46] prahaladbelavadi commented on #1
will there be examples of Open Zeppelin also ? @aantonop @maraoz @gustavoguimaraes

[2017-12-12 08:59] mikhailrojo opened #90 "It is empty repo"
this is quite empty repo with no book

[2017-12-13 22:28] stefek99 commented on #90
It seems like the only fleshed out chapter: https://github.com/ethereumbook/ethereumbook/blob/develop/dev-env.asciidoc

Seems that is available to pre-order on Amazon: https://www.amazon.com/Mastering-Ethereum-Building-Smart-Contracts/dp/1491971940

What is the status? cc @aantonop

[2017-12-17 15:14] aantonop commented on #90
Updated README to reflect current status. Due to ufortunate personal issues, the release has been delayed by 6 months. Expect to see content committed in Q1 and Q2 2018

[2017-12-17 15:14] #90 closed, assigned to nobody

[2017-12-19 12:27] stefek99 commented on #78
Storing data on the blockchain is expensive. IPFS is more fit for purpose.

If you want to store a number, look at the default code when you visit: https://ethfiddle.com/

[code]

[2017-12-19 13:50] stefek99 commented on #83
My thinking - default `testnet` is `ropsten`

Quite literally you do `geth --testnet` and it defaults to `ropsten`

### More options:

* `TestRPC` that became: https://github.com/trufflesuite/ganache-cli
* private blockchain, Microsoft Azure allows one-click deploy
* JavaScript VM - using https://remix.ethereum.org/ you can deploy to a VM without running any software on your machine

---

Kovan, R

[2017-12-19 14:03] stefek99 commented on #1
Related #82 #89 (probably many others)

The other day I've spent some time trying to deploy a super simple `Solidity` contract: https://github.com/raineorshine/solidity-by-example/issues/5

State of the ecosystem is like internet in 1993 and tools / frameworks are evolving at a rapid pace...

Chapter about it will be always growing, code samples are likely to be out-of-date by the moment of print.

[2017-12-19 14:10] stefek99 commented on #86
**RELATED**

I'm not Microsoft sales rep or anything, just saw someone on a tutorial video using one click deploy to Azure.

This is the source I believe: https://github.com/Azure/azure-quickstart-templates/tree/master/go-ethereum-on-ubuntu

[2017-12-19 17:22] danielquinn commented on #78
Not to be rude, but an appropriate answer to *"how do I store an arbitrary number on the blockchain"* is not *"it's expensive, use IPFS"*.  The project I have in mind already has IPFS in mind, but I want to store small amounts of information in the blockchain too.

I appreciate the offering of sample code, but as a newbie, *this means nothing to me*.  I created this issue to point out that there w

[2017-12-19 22:16] stefek99 commented on #78
Sorry.

I'm not offering code sample.

What I'm offering...

The website - https://ethfiddle.com/

**DEFAULT CODE**

How often does one see an email with predefined body? Of course Google does it, but they are the most powerful entity on the planet...

All this exercise is too explain that storing data...

*(not feeding the troll, not engaging in pointless discussion on the internet)*

[2017-12-19 22:21] stefek99 commented on #78
For sake of the argument - my intention was not to present a code sample but to emphasise:

Storing data on the blockchain apparently is so fundamental, it is `predefined hardcoded default` value when you visit the website.

[2017-12-20 17:47] stefek99 opened #91 "Ethereum addresses - how are they created - no checksum - EIP with capitalisation"
* https://www.royalfork.org/2017/12/10/eth-graphical-address/
* https://ethereum.stackexchange.com/questions/3542/how-are-ethereum-addresses-generated/3619
* https://ethereum.stackexchange.com/questions/267/why-dont-ethereum-addresses-have-checksums
* https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md

[2017-12-21 17:41] duaraghav8 commented on #89
Hi,
@apmilen does have a valid point, but I'd still be inclined toward mentioning dev tools in the book. Mentioning 2-3 tools for different categories would give newbies a good idea of what all is happening in the dapp space and where all the focus lies.
If you do decide to add dev tools, please consider [Solium](https://github.com/duaraghav8/Solium) - security-focused linter for Solidity contract

[2017-12-21 23:25] fjrojasgarcia commented on #89
I had read something about https://dapp.tools, but in a deeper review I realized that it is a real promise for developers oriented to unix-like tools.

I have the feeling that I'm going to switch to https://dapp.tools.

@apmilen,  thank you very much for your valuable contribution.

[2017-12-30 16:43] MariaZM24 opened #92 "Spanish translation"
Hello,
I'm a translation student and I'm an Ethereum enthusiast. I would like to translate this book to colaborate and also as my thesis translation project.
If you're interested, please send me the text or a link where I can read it and work from.

Thanks!

[2018-01-09 17:04] aantonop commented on #88
Website up

[2018-01-09 17:04] #88 closed, assigned to nobody

[2018-01-09 17:05] #1 closed

[2018-01-09 17:19] aantonop commented on #89
I will be adding dapp.tools to the dev-env section

Thanks!

[2018-01-09 17:19] #89 closed, assigned to nobody

[2018-01-09 17:50] aantonop commented on #84
Added section to [clients.asciidoc](https://github.com/ethereumbook/ethereumbook/blob/develop/clients.asciidoc#light-clients-and-rpc-gateways)

[2018-01-09 17:50] #84 closed, assigned to wbnns

[2018-01-09 17:54] aantonop commented on #82
Link to embark?

[2018-01-09 17:55] aantonop commented on #79
Now loads

[2018-01-09 17:55] #79 closed, assigned to wbnns

[2018-01-09 17:58] aantonop commented on #77
Will add something about this to clients.asciidoc. Great suggestion, thanks

[2018-01-10 12:00] fjrojasgarcia commented on #82
**Github link**; https://github.com/iurimatias/embark-framework
**Read the docs link**; https://embark.readthedocs.io/en/2.6.4/
**npm packages repository link**; https://www.npmjs.com/package/embark

[2018-01-10 12:09] fjrojasgarcia commented on #92
I am also interested in participating in the **Spanish translation** of this book.
I'm a Blockchain Engineer with experience in translation of documentation and literature related to the crypto space.

[2018-01-10 12:24] fjrojasgarcia opened #93 "Metamask"
I think it would be of great interest to pay attention to the **Metamask** tool, for the utility it provides, also in the particular case of the **Dapps's end users** with which they can, **identify themselves** in Dapps and **perform financial operations** using this plugin integrated into the browser.

Website; https://metamask.io/

[2018-01-10 12:50] fjrojasgarcia opened #94 "OpenZeppelin - open framework of reusable and secure smart contracts"
It worth mentioning **OpenZeppelin** which is an open framework of **reusable and secure** smart contracts in the Solidity language.

**Github link**; https://github.com/OpenZeppelin
**Website link**; https://openzeppelin.org/
**Read the docs link**; http://zeppelin-solidity.readthedocs.io/en/latest/index.html

[2018-01-10 14:34] fjrojasgarcia opened #95 "Smart contracts versioning - Effects of the immutability of the Blockchain in the development cycle"
I think It is a matter of importance for the new developers of Ethereum to know the implications of the immutability of the blockchain in the development of their projects.

In this development platform, the publication of a Smart contract becomes an immutable action which differs from any other typical development cycle, where one always has the possibility to modify the previous behavior, in wha

[2018-01-10 18:29] aantonop commented on #77
Thank you @eyezick

New section added. Please review and tell me what you think
df658d94bab8d8cd4eaffcb14cd57a17e929005a

[2018-01-10 19:57] fjrojasgarcia opened #96 "Ethereum Package Registry"
Perhaps it would not hurt to inform the new developers who will use Solidity about the existence of **repositories of reusable / sharable packages**.
I believe that this can enhance the open source concept applied to the development of solutions based on Solidity.

**Github link**; https://github.com/ethpm
**Repository link**; https://www.ethpm.com/registry
**Website**; https://www.ethpm.com/
**Do

[2018-01-10 20:48] aantonop commented on #92
The book is published by O'Reilly Media. Volunteer translations can only happen after it has switched to a license that allows derivatives, which may be 6 months *after* publication. Depending on demand, we may have a Spanish publisher ask to license it before then. Translations are completely outside my control for the first 6 months.

[2018-01-10 20:48] #92 closed, assigned to nobody

[2018-01-10 20:49] aantonop commented on #93
I already have MetaMask included in the "clients" section. The use as a Dapp browser will be covered in some part too.

[2018-01-10 20:49] #93 closed, assigned to nobody

[2018-01-10 20:50] aantonop commented on #94
Very much interested in adding OpenZeppelin. It will fit under "Frameworks", which might end up being a whole chapter

[2018-01-10 20:51] aantonop commented on #95
Noted!

"Immutability and how it affects development, deployment and testing". Will fit somewhere

[2018-01-10 21:01] aantonop commented on #96
Agreed and noted

[2018-01-11 05:42] apmilen opened #97 "Tokens (ERC20)"
You should write about how to treat Ether as an ERC20 token using the standard wrapper contract:

https://etherscan.io/address/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2

[2018-01-11 05:45] fjrojasgarcia commented on #97
Sure. You can also point to https://theethereum.wiki/w/index.php/ERC20_Token_Standard

[2018-01-11 17:46] aantonop commented on #97
ERC20 and subsequent standards (ERC223) are going to get a big section. Definitely!

[2018-01-11 18:14] aantonop commented on #97
Added tokens.asciidoc ethereumbook/ethereumbook@cd43007

[2018-01-11 18:14] #97 closed, assigned to nobody

[2018-01-11 18:41] aantonop commented on #94
Added ethereumbook/ethereumbook@ffbdbec

[2018-01-11 18:41] #94 closed, assigned to nobody

[2018-01-11 18:46] aantonop commented on #83
Added to ethereum-testnets.asciidoc ethereumbook@deeee44

[2018-01-11 18:46] #83 closed, assigned to wbnns

[2018-01-11 18:47] aantonop commented on #82
Added to Frameworks in dev-tools.asciidoc ethereumbook@44304f8

[2018-01-11 18:47] #82 closed, assigned to wbnns

[2018-01-11 18:47] #77 closed, assigned to wbnns

[2018-01-11 18:55] aantonop commented on #91
Added to "Keys & Addresses" chapter outline ethereumbook@91d7c2e

[2018-01-11 18:55] #91 closed, assigned to nobody

[2018-01-12 10:23] fjrojasgarcia opened #98 "Ethereum Smart Contract Security Best Practices"
In my opinion it would be necessary to devote enough space in the book to deal with the issue of the **Security of Smart Contracts**.

In this sense there are already initiatives focused on this important aspect of the development of Smart Contracts such as maintained by ConsenSys Diligence, and the broader Ethereum community, thinking in the intermediate Solidity programmers.

Link(s);
Github: ht

[2018-01-12 10:51] fjrojasgarcia opened #99 "Swarm - Serverless Hosting storage and content distribution"
**Swarm** is a native base layer service of the ethereum web3 stack intended as a **Serverless Hosting** incentivised peer-to-peer storage and content distribution, something that I think the average Ethereum programmer should know about.

The primary objective of Swarm is to provide a **decentralized and redundant store for dapp code and data** as well as block chain and state data. Swarm is also

[2018-01-12 15:54] aantonop commented on #98
Agreed. OpenZeppelin has also published some security guidelines

[2018-01-12 16:24] aantonop commented on #99
Added to Dapp chapter outline ethereumbook@9154691

[2018-01-12 16:24] #99 closed, assigned to nobody

[2018-01-12 16:41] aantonop commented on #98
Added to Smart Contracts outline  ethereumbook/ethereumbook@79d608b

[2018-01-12 16:41] #98 closed, assigned to nobody

[2018-01-12 16:43] aantonop commented on #96
Added to best practices section in smart contracts outline ethereumbook/ethereumbook@47646f0

[2018-01-12 16:43] #96 closed, assigned to nobody

[2018-01-12 22:46] aantonop commented on #86
Private blockchains are probably out of scope. However, deployment of private chains for testing purposes (testRPC, Azure, AWS etc) are definitely in scope.

[2018-01-12 22:47] aantonop commented on #78
Added data storage to the outline for dapps chapter. We will consider various options, including the balance between on-chain and off-chain data storage

[2018-01-12 22:47] #78 closed, assigned to wbnns

[2018-01-14 20:06] QwQiao opened #101 "Scalability"
It's probably worth dedicating a major section on scalability. In particular,
- Why is scalability critical to Ethereum?
- Why is scalability difficult for Ethereum, probably more difficult than it is for Bitcoin?
- A description of the upcoming scalability solutions, namely, PoS, sharding, plasma, raiden, etc.

A challenge is to write something timeless. Since the R&D teams seem to move very fast

[2018-01-14 20:11] qiaowang26 commented on #101
A challenge is to write something timeless. Since the R&D teams seem to move very fast with scalability solutions, it's potentially hard for the book to be up to date with the latest developments.

[2018-01-14 20:20] QwQiao commented on #85
Agreed. The book could dedicate a section on zkSNARKs that went live with Byzantium.

[2018-01-16 00:19] fjrojasgarcia commented on #86
Thinking twice, private blockchains are more an anecdote of the cryptoland so in many cases should be avoided.

Thank you for keeping your best principles firm Andreas.

[2018-01-16 15:37] #86 closed, assigned to wbnns

[2018-01-21 09:03] fjrojasgarcia opened #110 "Suggestion of list of known Ethereum network ids"
In order to offer to new programmers information grouped of **currenty used Ethereum networks ids**, I suggest the following list. Please add your corrections.

**0: Olympic**; Ethereum public pre-release testnet
**1: Frontier**; Homestead, Metropolis, the Ethereum public main network
**1: Classic**; The (un)forked public Ethereum Classic main network, chain ID 61
**1: Expanse**; An alternative Et

[2018-01-21 09:26] fjrojasgarcia opened #111 "Oracles - external data carriers for decentralized apps"
For me it would be important to mention in the book the **inherent isolation of Ethereum** from the outside world and the importance of defining mechanisms, commonly called **Oracles**, to achieve its interaction with it.

There is already some initiative trying to cover this limitation, such as "http://www.oraclize.it".
They define themselves as the "**data carrier for decentralized apps**".

 Ma

[2018-01-21 09:54] Benudek commented on #111
It seems to me it might be fair to discuss the need to have oracles is also an inherent obstacle for smart contracts to cover without further consideration non digital assets. If a smart contract does sth but the assumptions it has on the world the smart contract might overall be useless or open to manipulation. With digital assets like currencies e.g. Ownership can be proven with cryptography. Ow

[2018-01-21 15:08] aantonop commented on #110
I agree this is useful

Where is the "network ID"? In the API? In a network message header?

Where would you add this information in the current sections?

[2018-01-21 20:14] dzwiener commented on #111
Auger would be a good token to explore as well since it proposes it will change the way how oracles operate.

[2018-01-22 05:03] fjrojasgarcia commented on #111
I agree that the inherent isolation of Ethereum, or any other decentralized system, **is a feature and not a bug**. The thing here for me is more about **the impact of the innovation power** in this field.

As Andreas has helped many of us to understand that the power of innovation transcends unimagined boundaries, I think that probably at this very moment there are a handful of brilliant minds wo

[2018-01-22 16:17] aantonop commented on #111
Agree, it is important to explain both the security model which depends on isolation, versus the need for Oracles to achieve many real world use cases.

Where does this fit in the list of topics?

[2018-01-22 16:23] aantonop commented on #111
Agree, it is important to explain both the security model which depends on isolation, versus the need for Oracles to achieve many real world use cases.

Where does this fit in the list of topics?

[2018-01-24 18:38] ChristopherGondek commented on #110
I suggest mentioning that Ropsten is PoW, Rinkeby and Kovan are PoA.
The network ID you have to specify when starting a node. E.g. option --networkid for Geth.

[2018-01-24 18:47] fjrojasgarcia commented on #110
I think Andreas is refering **at a protocol level**.
There is a especial message called "**Status**" which send that data (_network ID_) between others.

I'm working deeper in this point and I hope to offer something more accurate and explanatory, surely in the form of **PR**.

[2018-01-24 23:34] nicksavers commented on #110
The `networkId` is communicated during the initial **Status**-message in the [ETH Wire protocol](https://github.com/ethereum/wiki/wiki/Ethereum-Wire-Protocol).

Also see [EIP-155](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-155.md).

[2018-01-25 09:15] pixboi commented on #111
I think before we can have oracles, we first need immutable, trustless sensors.

[2018-01-25 09:32] pixboi opened #114 "Eliminating trust with smart contracts"
Whenever I explain smart contracts to my friends, I use the current voting system for example.

When you go to vote:
-You have trust yourself to vote for the right candidate ;)
-You have to trust that nobody sees your vote
-You have to trust that when you slip your number in the tin, that there isn't battery acid which would instantly dissolve it.
-You have to trust that somebody counts it right.

[2018-01-25 10:55] Benudek commented on #114
This should be called e.g. 'Eliminating the need for trust in 3rd parties' Parties should be qualified as organizations or humans in the text

The idea of smart contract is to generate trust only not via relying on organizations, if smart contract s would eliminate trust itself they would defeat their purpose.

[2018-01-26 18:05] fjrojasgarcia opened #115 "As a Pythonista and a Solidity developer I'm curious about Vyper"
I have the impression that we are facing a careful work of the Ethereum community. We could highlight 37 commits till today from _Vitalik Buterin_.

**Vyper** is an experimental programming language that aims, among others, the following goals;
**Security, Language and compiler simplicity and Auditability**.

**About the Auditability aims**: **_Vyper code should be maximally human-readable_**. Fur

[2018-01-27 10:46] fjrojasgarcia commented on #115
**Iuri Matias** says that _embark-framework_ will support Viper.

**Gitter snippet**

[code]

[2018-01-31 20:49] fubuloubu commented on #115
@fjrojasgarcia Thanks for the shoutout! We actually changed the name to Vyper, so that is the current name. Check out this issue for more details: https://github.com/ethereum/vyper/issues/501

[2018-01-31 23:50] fjrojasgarcia commented on #115
@fubuloubu noted, Thanks!

[2018-02-01 21:40] aantonop commented on #115
Vyper has been added to the section listing High Level Languages. We'll need to do some of the example contracts in Vyper too, to help compare against Solidity.

[2018-02-01 21:41] aantonop commented on #110
Incorporated into the DevP2P section

[2018-02-01 21:41] #110 closed, assigned to aantonop

[2018-02-01 23:21] fubuloubu commented on #115
I can volunteer to write some. Most contracts that don't use inheritance can be converted

[2018-02-02 12:21] fjrojasgarcia opened #126 "Existing (or under way) technological alternatives to Ethereum - RootStock, Cardano, etc"
From the point of view of a Ethereum developer, I think it would be of great interest to know the existing **technological alternatives**, RootStock, Cardano and possibly many others.

I'd propose, through this issue, to create a conversation in which to be able to convey opinions, experiences and predictions.

I would highlight aspects, for me as relevant as, **compatibility at the EVM level** as

[2018-02-03 05:13] chainhead opened #128 "Average salary on blockchain."
Hello,
I wrote an article sometime ago, on how to calculate average salary of a group without immediately divulging the individual salaries. Perhaps, it can serve as a simple example to guide folks into decentralized application development. Especially because, it runs into a problem where zSNARKs may have to get involved.

If you are interested in using this example in the book, I will be enthuse

[2018-02-03 17:22] Benudek opened #129 "Chapter on Ethereum usecases"
I believe the book would greatly benefit from a chapter of usecases that Ethereum only or at least can implement much better than other application platforms or bitcoin. We have great cloud application platforms and we have bitcoin, what does Ethereum as a programmable money platform add?

‘Usecase?’ for all non bitcoin blockchain technologies is a question with not so straightforward answers. Jus

[2018-02-03 18:35] fjrojasgarcia commented on #129
In my humble opinion, trying to make understand through this book the true paradigm of decentralization and its particular application in Ethereum, is a task that goes beyond the technical, touching in so many cases sociological and philosophical aspects.

I understand the practical interest of the proposal, but I think that the phenomenon of "Decentralization" is something that the individual has

[2018-02-03 18:37] fjrojasgarcia commented on #128
I'm personaly interested in good examples of zSNARKs, so I support this proposal.

[2018-02-03 18:44] fjrojasgarcia commented on #126
I would like to contribute with the following article that analyzes Cardano in comparison with Ethereum.

[On the Origin of Cardano](https://medium.com/on-the-origin-of-smart-contract-platforms/on-the-origin-of-cardano-a6ce4033985c)

[2018-02-03 18:54] Benudek commented on #129
Appreciate this POV and I am also a fan of decentralization

But think about bitcoin: you pay with out banks, you do not need a central bank.
AI: you detect cancer melanons with Deep Neural Networks better than humans

That is straightforward and very valuable.

Do we have such a killer usecase in Ethereum ? Maybe ICOs? Decentralizing as such is great, also proof of stake is innovative. But if it

[2018-02-05 09:01] GuillaumeCz commented on #129
Hi there ;)
I think it might be really interesting to write about the eventual use cases. Even in Vitalik's Ethereum White Paper there is a section about the applications and in my opinion giving ideas about what's possible to make (especially with smart contracts) can make worth it.
Also, there is so much innovating and interesting projects based on Ethereum (such as ones listed in [State of the

[2018-02-05 15:02] aantonop commented on #128
Link to #85

[2018-02-08 00:27] splix opened #138 "Ethereum Classic"
@aantonop recently mentioned that it would be good to cover some topics on Ethereum Classic in the book. I have question, to what extent? Do you want to make just simple remark of the project? Or do you want to cover ETC specific topics and software, such as Classic Geth, SputnikVM and Emerald? There're also other changes, such as different monetary policy, difficulty bomb, and so on. There many t

[2018-02-12 03:00] aantonop commented on #138
Yes please. I'd like to cover more than a mention. Especially, as you suggested

- Divergence of conensus rules, like difficulty etc
- Specific tools and software, block explorers etc

Any help is much appreciated - from outlines and URLs to complete sections!

[2018-02-16 06:49] fjrojasgarcia opened #145 "ethers.js, a web3.js alternative"
I would like to ask about this initiative.
I really don't know about it, I only know that exist.

They say that ethers.js is an alternative to web3 where **ENS names** are first-class citizens and It’s **tiny** (77kb compressed).

One major difference between ethers.js and web3 is **how they handle key management and interaction** with the ethereum blockchain. Web3 assumes that there is a local no

[2018-02-16 09:18] Meshugah commented on #129
I think it would be a worthwhile addition to one of the chapters at the very least. Mastering Bitcoin had the transactions in varying scenarios (like the coffee shop). I understand that there it was meant to merely touch base on most of the core concepts and on something as open-ended as with Ethereum this might both be too broad and detract from other possible use cases.

[2018-02-16 13:59] pjsub opened #146 "MyEtherWallet and MyCrypto"
As you may know, one the MEW co-founder forked this latter in order to make MyCrypto (https://mycrypto.com). I think the "Choosing an Ethereum wallet" part in the Introduction section should have, at least, a mention of this fork and explain briefly why this book keep MEW as a reference.

[2018-02-16 14:38] aantonop commented on #146
yes, I will need to list both. Awkward!

I plan to use MyCrypto for examples, as I think it has the more sustainable focus and development team/roadmap.

[2018-02-17 03:46] fjrojasgarcia opened #149 "Smart contracts Formal verification"
Through this issue I want to highlight the importance of the verification systems that are emerging around Smart contracts.

Smart contracts can carry financial value, and are increasingly used for safety-, security-, or missioncritical purposes. **Errors in smart contracts have led and will lead to loss or harm**.

Formal verification can provide the highest level of confidence about the correct

[2018-02-19 01:06] nicarq opened #154 "Update recommended specs to run a full node"
[code]

Currently the size of the Ethereum blockchain is over 337GB (https://bitinfocharts.com/ethereum/). So I would suggest increasing the 250GB of free space to 500GB.

[2018-02-22 19:04] JustCallMe-AK opened #166 "Decentralized Data Feed"
Please discuss the probably of automating the oracle process and maybe one or two possible solutions (e.g. Schelling Coin, Town Crier, etc.)

[2018-02-23 09:34] rstormsf opened #170 "Add Trust Wallet as mobile wallet and browser Dapp"
https://trustwalletapp.com/
Trust wallet has support for browsing Dapps and signing transactions on any ethereum network including POA.network

100% open sourced project:
https://github.com/TrustWallet

https://github.com/ethereumbook/ethereumbook/blob/develop/clients.asciidoc#browsers-and-rpc-gateways

If there is an agreement, I can submit a PR

[2018-02-23 22:48] diegogurpegui commented on #146
I agree that both should be listed if they are worth it (like any other tool).
Perhaps a one-line explainer of the fork can be enough. By the time the books is finished an extended explanation probably won't be that relevant, right?

[2018-02-26 18:01] diegogurpegui commented on #129
I also think that adding some use cases can help the intented audience of this book (developers & technologists?) understand better how to use this technology.
I also agree that a debate or analysis on decentralization or the benefits of that has no place in this book. However, having a (small perhaps) chapter with some use cases showing different scenarios where smart contracts are user, surely w

[2018-02-26 19:55] Benudek commented on #129
I guess the author needs to decide eventually if the focus is more tech or also usecases. Can just say, the blockchain specific usecases are quite a discussion in the community. So, if this book could help pointing what ethereum can do here, it would make me happy ;-)

[2018-02-26 21:53] ltfschoen commented on #129
Should we include asset-backed stablecoins since they may be instrumental in helping Ethereum  scaling up and for achieving mass adoption of Ethereum use cases by overcoming the volatility of the exchange rate of say ETH, and overcoming high transaction fees so it becomes usable

[2018-03-01 15:01] EvertonMelo opened #192 "add Appendix about laws around world about Smart Contracts."
Hi Andreas,

I hear a lot of criticism about Criminalization of "Smart Contracts" but I have never seen anyone commenting on laws throughout the world, even though they are not the focus of their work, I would add in my opinion.

Kind regards.

obrigado.

[2018-03-01 15:36] SmartLayer opened #193 "Add ERC875 example to book"
Hey Andreas, hope all is well since we met in Sydney, was great to see your talk!

ERC875 is a non fungible standard that includes an optional atomic swap function, even though it is in draft phase, it should be included in the book.

I believe this because it shows some of the future possibilities for atomic swaps and efficient non fungible transfers and has an implementation example in java whic

[2018-03-01 22:21] come-maiz opened #198 "difference between kovan and rinkeby"
On the intro.asciidoc, on the metamask section, the testnets are presented. But, the text explaining Kovan is the same as the one explaining Rinkeby:

This brings the question about why do we have two, instead of just one. So I think the text should be expanded a little, to include the difference between the two.

[2018-03-02 17:21] fjrojasgarcia opened #202 "Blockchain operating system for decentralized applications"
While the promise of blockchain technology is phenomenal, we need to approach this
technology with caution.

The ideal should be to make this technology as accessible as possible, fueling innovation and accelerating the move to a decentralized, open economy.

There is currently little standardization and no easy way to develop highly secure applications.

To address these problems and opportunitie

[2018-03-03 21:14] wbnns commented on #198
@elopio Thanks for the suggestion. Would you be interested in submitting a pull request to expand the text?

[2018-03-03 21:35] come-maiz commented on #198
@wbnns, I would love too, but I'm learning with this book😃 I don't yet know the difference.

[2018-03-04 20:48] wbnns commented on #138
@splix Hello, would you like to contribute some of the content that Andreas mentioned?

[2018-03-05 02:08] fjrojasgarcia opened #212 "Paralysis Proof System in Ethereum"
In this issue I'd like to highlight the interesting work of **Fan Zhang, Philip Daian, Iddo Bentov and Ari Juels**, in "**Paralysis Proofs: Safe Access-Structure Updates for Cryptocurrencies and More**".

I'd like specificaly point out to their **"Paralysis Proofs in Ethereum"**, which is their **Ethereum** implementation of the solution as a good example of how a _Turing complete_ system can help

[2018-03-06 21:57] EvertonMelo commented on #192
sample:

Brazil Laws abou ICO/Smart Contracts:
http://www.cvm.gov.br/subportal_ingles/menu/international/ico_statement.html ( in englesh )
or the original in Portuguese.
http://www.cvm.gov.br/noticias/arquivos/2017/20171011-1.html

[2018-03-07 00:32] jaycenhorton commented on #83
I just submitted a PR filling in some of this info for GCP using puppeth https://github.com/ethereumbook/ethereumbook/pull/220

[2018-03-07 09:12] AyushyaChitransh commented on #198
I can say about one difference which I know:

 - Kovan uses aura consensus mechanism(aka authority round) while rinkeby uses clique algorithm.
 - Kovan genesis can be found [here](https://github.com/paritytech/parity/blob/master/ethcore/res/ethereum/kovan.json) and rinkeby genesis can be found [here](https://github.com/ethereum/go-ethereum/blob/55599ee95d4151a2502465e0afc7c47bd1acba77/core/genesis

[2018-03-09 04:44] AyushyaChitransh commented on #198
As I was collecting information about networks, I found that this can be more detailed. There are public networks like:

 - Mainnet: Main ethereum network, it has real ether and real value. Currently this network is known as ETH.
 - Classic: Ethereum Classic network. The mainnet which did not support hard fork after DAO hack. Currently this network is known as ETC. This also has real ether and has

[2018-03-09 16:47] timnugent commented on #166
Oracles section now in contrib. TownCrier and others are in there, Schelling Coin is on the to-do list

[2018-03-09 21:47] splix commented on #138
@wbnns yes, I'd like to contribute. I'll try to figure what I can add and will send pull requests

[2018-03-13 02:02] boue opened #255 "Suggestion to add a note that gas prices might be different as well as 1 or 2 sentences about the effect of increasing/decreasing"
In the section entitled "Sending ether from MetaMask" of the Introduction chapter user could be subject to a different gas price (2 in my case). A short clarification that gas prices might fluctuate, that it determines how fast your transaction will be mined, and therefore can be increased or decreased would help. As I see on the table of contents there is a whole chapter dedicated to GAS but want

[2018-03-14 23:17] fjrojasgarcia opened #266 "Project Management for the EthereumBook Project - Waffle makes GitHub more delicious"
I've been testing [waffle](https://waffle.io) for some days, which is a **Project Management made for Developers**, a tool for **collaborative development** of projects with full integration with **Github**.

As I know that time is one of the most precious assets in this project, I would suggest the use of this tool that **I think would allow us to better organize as a team**.

I think it would of

[2018-03-15 00:07] #266 closed, assigned to nobody

[2018-03-15 00:17] aantonop commented on #255
Excellent suggestion. An easy PR for some contributor. Anyone want to tackle it?

[2018-03-15 00:19] #170 closed, assigned to rstormsf

[2018-03-15 05:46] boue commented on #255
@aantonop I've just created one, it is up for review: https://github.com/ethereumbook/ethereumbook/pull/270

[2018-03-15 09:48] fjrojasgarcia commented on #85
ZK-SNARKs have a newer, shinier cousin: **ZK-STARKs**. With the T standing for “transparent”, ZK-STARKs resolve one of the primary weaknesses of ZK-SNARKs, its reliance on a “trusted setup”.

https://vitalik.ca/general/2017/11/09/starks_part_1.html

[2018-03-15 15:36] #255 closed, assigned to nobody

[2018-03-15 15:50] aantonop opened #275 "Clean up and complete "What Is Ethereum" section"

[2018-03-15 15:51] aantonop opened #276 "Clean up and complete "Ethereum Clients" section for Early Release"

[2018-03-15 15:53] aantonop commented on #193
@colourful-land Maybe start an outline in the "contrib" folder?

[2018-03-15 15:58] aantonop commented on #198
@AyushyaChitransh Do you want to make a first attempt at adding a small amount of detail to differentiate Kovan and Rinkeby, especially how Geth and Parity support relate to it?

[2018-03-15 15:59] aantonop commented on #154
@Nykho would you like to try a Pull Request to add the current requirements and a link to check in the future?

[2018-03-15 17:43] nicarq commented on #154
@aantonop sure!! will do today

[2018-03-15 22:08] aantonop opened #279 "Ensure all headings have asciidoc reference anchors and all references point somewhere"
I could use some extra help with this issue.

In asciidoc, every chapter heading, section heading, figure, table, and code example, can be referenced from anywhere in the book. To do that, each of the above must have an _anchor_, which is a unique name inside double square brackets like [[anchor]]. See this example below:

[code]

It doesn't matter what the variable name inside the [[]] is, as lon

[2018-03-16 09:37] AyushyaChitransh commented on #198
I've tried to add a "small" amount of detail to address the difference and requirement of different testnets.

[2018-03-16 11:11] JamesANZ commented on #193
@aantonop could this be of assistance or were you thinking of something else? https://medium.com/bitfwd/erc875-a-new-standard-for-non-fungible-tokens-and-cheap-atomic-swaps-93ab85b9e7f9

[2018-03-17 00:13] #154 closed, assigned to aantonop

[2018-03-17 00:14] #198 closed, assigned to nobody

[2018-03-19 13:37] come-maiz commented on #198
Thank you @AyushyaChitransh !

[2018-03-21 21:55] nicksavers opened #313 "Sending value in a contract creation"
It's possible to send a value in contract creation ('_[contract registration](https://github.com/ethereumbook/ethereumbook/blame/324b691e80449f64f63a4a37c3145cf6daafa3f5/transactions.asciidoc#L314
)_'). That value would then be immediately added to the balance of the newly created contract.

AFAIK, that is disabled by default in Solidity, so in order to receive ether, the fallback function must be

[2018-03-21 22:30] fjrojasgarcia commented on #313
Pointing to your Gitter note --> you can pre-fund an account .... and only retrieve it after contract creation. Nobody would know that there is no private key to the address, just a transaction to create a contract to send the ether value somewhere.

[2018-03-22 06:55] fjrojasgarcia commented on #313
More of your awesome clarifications from Gitter -->
... «Since a contract address is derived from the sender address and nonce, you can know the contract address ahead of time and send ether to it. Then only when you actually send the contract creation transaction, it can be spent. Not before.
To the outside world, until then it would just look like a normal EOA.»

[2018-03-22 07:09] fjrojasgarcia commented on #313
The address for an Ethereum contract is deterministically computed from the address of its creator (sender) and how many transactions the creator has sent (nonce). The sender and nonce are RLP encoded and then hashed with Keccak-256.

https://ethereum.stackexchange.com/questions/760/how-is-the-address-of-an-ethereum-contract-computed

[2018-03-22 12:34] Pongch opened #315 "End to end Fullstack Decentralized Application Example"
I'd like to add some additional content on the Dapp section of the book, which could detail how a complete decentralized applications, consisted of Ethereum Smart Contract, IPFS/Swarm and Whisper could be built and deployed.

Creating a proof of existence tutorial Dapp using Embark is actually quite easy (since Whisper and IPFS is easily configurable) and is simple enough for people to understand

[2018-03-22 12:48] aantonop commented on #315
Yes please!

On Thu, Mar 22, 2018 at 6:34 AM, Pongch <notifications@github.com> wrote:

--
Andreas M. Antonopoulos
andreas@antonopoulos.com

[2018-03-22 18:19] aantonop opened #317 "Create an appendix of EVM opcodes and gas cost"
Use this source: https://github.com/trailofbits/evm-opcodes
(with attribution)

Convert GitHub Markup to Asciidoc Markup and export as appendix section in its own asciidoc file.

[2018-03-22 18:23] aantonop opened #318 "Upgradeability of smart contracts"
Add some sections and discuss the upgradeability of smart contracts and some of the patterns created by OpenZeppelin and others to achieve these goals.

Useful reading:
https://medium.com/@mikecalvanese/flexible-upgradability-for-smart-contracts-9778d80d1638

[2018-03-23 04:33] fjrojasgarcia commented on #317
I'm creating an auto generator for the OPCODES and Gas appendix based on the source indicated.

[2018-03-23 18:19] aantonop opened #322 "Document known ethereum security issues to date and analyze causes"
This resource has a list of all to-date security vulnerabilities that have been exploited in Ethereum:
https://www.dasp.co/timeline.html

Use it to document the security section with "lessons", or to augment the documentation in smart-contracts section on best practices and potential pitfalls

[2018-03-24 03:45] #317 closed, assigned to fjrojasgarcia

[2018-03-24 03:50] fjrojasgarcia commented on #317
Related to https://github.com/ethereumbook/ethereumbook/pull/325 - Auto generation of the appendix for OPCODES and its Gas consumption.

[2018-03-24 14:00] chainhead opened #328 "METoken contract migration issue."
I want to deploy MET to private network. I have created a separate project to deploy MET. The project is here: https://github.com/chainhead/MET that I will raise a PR for eventually.

I have edited my `truffle.js` to point to my private network.

[code]
The truffle compilation goes through. However, the migration does not give any information about successful deployment. Can you please suggest wha

[2018-03-24 14:47] fjrojasgarcia commented on #328
Only a very basic question, Have you created your [2_deploy_contracts.js](https://github.com/ethereumbook/ethereumbook/blob/develop/code/truffle/METoken/migrations/2_deploy_contracts.js) deployment file?

[code]

[2018-03-24 16:03] fjrojasgarcia opened #329 "Yellowpaper comprehension guide"
In my opinion, it would be interesting to provide the readers of the book with access and understanding of such an important document as the [Yellowpaper](https://ethereum.github.io/yellowpaper/paper.pdf).

We could highlight aspects such as, why it exists, which is fundamentally its content, fundamental concepts, conventions used, basic maths needed for its understanding, and appendices.

Any hel

[2018-03-24 16:27] AyushyaChitransh commented on #328
Also, you would like to use another flag `--reset` if you have already deployed on that network and want to deploy again.

    Network up to date.

This message is mostly there if there exists a `build` folder with the information of the network. And it has the information that the same contract has already been deployed on the network.

[2018-03-25 01:55] chainhead commented on #328
@fjrojasgarcia
Yes, I was missing the second deployment file. I added it and then upon migration, I get this issue.

[code]

@AyushyaChitransh I will try the reset option once I have got past this error.

[2018-03-25 02:09] fjrojasgarcia commented on #328
Only to ensure .. have you installed the Solidity dependences?

`npm install zeppelin-solidity`

[2018-03-25 02:40] fjrojasgarcia opened #334 "Gas cost estimation"
I'm not pretty sure if this topic is already covered in the repo, but in the sake of this important operational aspect I open this issue.

Basically;
[code]

Some info;
https://ethereum.stackexchange.com/questions/27452/how-to-estimate-gas-cost?rq=1

[2018-03-25 03:29] #334 closed, assigned to fjrojasgarcia

[2018-03-25 09:56] ltfschoen commented on #192
Recent economic report to congress in the USA page 201-226 https://www.congress.gov/115/crpt/hrpt596/CRPT-115hrpt596.pdf

[2018-03-25 10:00] ltfschoen commented on #322
Parity multisig wallet hack https://github.com/bokkypoobah/ParityMultisigRecoveryReconciliation

[2018-03-25 10:11] ltfschoen commented on #101
Here's a link to Vitalik's Ethereum Sharding Research Compendium: http://notes.ethereum.org/s/BJc_eGVFM

Here are some Trello cards I've created to summarise my understanding of Sharding:
* Trade-Off between Decentralisation vs Scalability vs Security: https://trello.com/c/a8g29lkT/155-trade-off-between-decentralisation-vs-scalability-vs-security
* Summary of the Sharding Specification: https://tr

[2018-03-25 11:32] chainhead commented on #328
@fjrojasgarcia Yes.

[2018-03-25 13:11] fjrojasgarcia opened #336 "Blockchain Governance from a Developer point of view"
Through this issue I intend to highlight the importance that it can have for a developer to know what or who governs the evolution of the Ethereum protocol.

[2018-03-25 23:06] fjrojasgarcia commented on #328
I would also remove or temporary rename the build directory to avoid possible inconsistences.

[2018-03-25 23:26] chainhead commented on #328
@fjrojasgarcia Removed the build folder, compiled and migrated; no luck. Following up on the truffle gitter channel - https://gitter.im/ConsenSys/truffle

[2018-03-26 23:32] chainhead commented on #328
@fjrojasgarcia
I was missing the `from` field, to hold account address, in `truffle.js`. I had to use an account address that was used for mining because only this account (ether base) can be expected to have funds to deploy contracts, etc. Also, I had to edit the `1_initial_migration.js` to apply password to unlock account.

For now, I can see that the contract is getting deployed, but does not s

[2018-03-27 15:38] Pongch commented on #111
I believe this could fit pretty well into DApp section of the book. Since the outlines already explaining off-chain & on-chain Data. We could explore the reasoning behind oracles, then going into its limitations, current & possible implementations etc.

[2018-03-27 15:42] timnugent commented on #111
The draft text for oracles is in the contrib directory. One possible issue with putting this within the Dapps section is that oracles are not necessarily Dapps themselves

[2018-03-27 16:05] Pongch commented on #111
I see, I wasn't aware the content for oracle is already being written. Come to think of it, Oracles and getting off-chain data as a topic is important enough to deserve its own section in my opinion.

[2018-03-28 18:17] iNDicat0r opened #361 "Consensus: Proof of Authority"
Missing section in consensus.

[2018-03-30 00:15] fjrojasgarcia opened #365 "Seeking consensus for Line Feeds represented as in *Nix text files."
I would like to emphasize the importance of all contributors using a unified system to indicate the **end of line** in the documents of this repository.

I understand that there should be no consensus problem to use the LF (\n) character as the standard in *Nix systems.

Any feed back on this point would be appreciated.

[2018-03-30 02:21] bendyarm commented on #149
This section could naturally come after a section about past vulnerabilities and exploits.

There are also other Formal Verification related tools under development mentioned on the ethereum/formal-methods gitter channel:  KEVM, Axlang, CertiK, https://arxiv.org/abs/1801.04032

[2018-04-01 15:08] aantonop opened #376 "Architecture diagram showing browser, web3, JSON-RPC and client relationship"
I think I need to create an architecture diagram that shows the relationship between a web-browser, a web3 .js instance (injected by MetaMask, for example, or provided by a web application), the web3 _provider_ and the Ethereum blockchain. Clarify the role of web3 provider, full client, JSON-RPC client and web3 injector.

[2018-04-01 15:08] aantonop commented on #146
Resolved in Client.asciidoc, lightweight clients section

[2018-04-01 15:08] #146 closed, assigned to aantonop

[2018-04-01 15:10] aantonop commented on #365
All submission should use Unix-like line endings: LF (not CR, not CR/LF). All the postprocessing is done on Unix-like systems. Incorrect line endings, or changes to line endings cause confusion for the diff tools and make the whole file look like it has changed.

If you are unsure or your OS makes things difficult, consider using a developer's text editor such as Atom.

[2018-04-01 15:10] #365 closed, assigned to nobody

[2018-04-04 13:36] zaq1tomo opened #387 "Not confident Issue"
In https://github.com/ethereumbook/ethereumbook/blob/develop/what-is.asciidoc,

'''
From a computer science perspective, Ethereum is a deterministic but ""practically"" unbounded state-machine with two basic functions; the first being a globally accessible singleton state, and the second being a virtual machine that applies changes to that state.
'''

I think that it is not practical but theoretic

[2018-04-04 20:12] thoragio opened #388 "Make Double-Spend Prevention Obvious"
I'm am reading the draft in this repo to educate myself about Ethereum. One point that was not clear to me was how Ethereum prevents double-spending. I was looking for the equivalent of Bitcoin's UTXOs, and eventually found out that one of the functions of the transaction nonce was to prevent double-spending, as highlighted in this post:

https://ethereum.stackexchange.com/questions/27432/what-is-

[2018-04-05 13:07] aantonop commented on #329
The author  (@chronaeon) of the "beigepaper" (chronaeon/beigepaper) has also contributed some PRs. The beigepaper is a slightly more "accessible" rewrite of the yellow paper.

[2018-04-05 13:08] aantonop commented on #329
Gav Wood suggested we work to include the Yellow Paper as an appendix. We will need to figure out how to convert it to asciidoc

[2018-04-05 14:25] SylTi opened #390 "GasToken"
I think this should to be mentioned in the gas.acsii
https://gastoken.io/

[2018-04-05 15:54] SylTi commented on #101
I think this section should also talk about states channels.

Generalized States Channels
https://github.com/ledgerlabs/state-channels/wiki
exemple implementation (WIP)
https://github.com/SpankChain/general-state-channels

Single Usage State channel example:
https://github.com/Magicking/protochannel/blob/master/contracts/tictactoe.sol

[2018-04-05 21:46] ltfschoen commented on #101
Here's a list of key Sharding resources. I'm currently trying to help contribute to Diamond Drops (sharding implementation in Rust):
https://github.com/ethereum/wiki/wiki/Sharding-introduction-and-implementations

[2018-04-06 07:14] fjrojasgarcia opened #396 "DRAFT status of the document following the recommended practices"
This issue point to #381

I'd suggest at least indicating DRAFT status as following;

[code]
I'd suggest to adopt this practice or another more optimal, among the participants of the repository. I would do so, at least while there are parts of the document pending development.

[2018-04-06 07:32] fjrojasgarcia commented on #329
I've seen it! :-)
Taking a look at @chronaeon's work, it looks like very much in line with what I was proposing.
If he agrees to offer his content to the book it will be a great contribution.

I have the doubt of how it will be included in the book.
I'd leave open this issue till its materialization.

For concrete reference, we can jump here to the [Rewrite of the Yellowpaper in non-Yellowpaper sy

[2018-04-06 19:07] #275 closed, assigned to aantonop

[2018-04-06 19:09] aantonop commented on #396
Some of this will probably be queued up for a second edition. We are about 1 month from the draft-to-editor, two months from final-to-production.

[2018-04-06 19:13] aantonop opened #400 "Complete DApp section in the next two weeks."

[2018-04-06 19:21] aantonop opened #401 "Add Vitalik Buterin and Gav Wood entries to the glossary"
Since we have Satoshi Nakamoto, we need VB and GW in the glossary. Either that or remove Satoshi.

[2018-04-06 19:27] aantonop opened #402 "Complete glossary, by reviewing each chapter for term definitions that are not in the glossary: Easy task for new contributors"
Go through each chapter. Anywere a term is defined, check to see if it is in the glossary. If not, copy the definition and edit it appropriately.

Compare entries to other glossaries and see if major entries are missing. If missing, add one by writing it from scratch (not using the text from the other glossary, unless the license allows it):

Homestead Guide (License does not allow us to use anyth

[2018-04-06 20:39] barrymac commented on #95
Leading to workarounds such as what may be partially responsible for the infamous wallet hack. Testing,  testing, testing .  Will there be a chapter on testing with truffle?

[2018-04-06 20:41] douglasrw commented on #402
Hi @aantonop  - Would these terms include
 "currency, resource, and asset" under https://github.com/ethereumbook/ethereumbook/blob/develop/tokens.asciidoc ?  I guess I'm not sure what exactly constitutes "a term [that] is defined?

[2018-04-06 21:21] owocki commented on #400
[right now this module seems to only feature tools and architecture](https://github.com/ethereumbook/ethereumbook/blob/develop/dapps.asciidoc)  do ya'll have any interest in featuring some *live* dapps in the content?

[2018-04-06 21:32] swasilyev commented on #85
Unfortunately that is not perfectly true. Though STARKS solve trusted setup problem, as some other nearly-practical solutions, see the list [https://zkp.science], I don’t think they are practical for Ethereum, at least until sharding/TrueBit/etc. Trusted setup is paid by SNARKS for constant-size proofs, and this price may appear inevitable, as I fail imagine prooving linear computation in constant

[2018-04-06 22:40] aantonop commented on #400
What do you suggest?

[2018-04-06 22:42] aantonop commented on #402
Terms specific to Ethereum and blockchains, rather than used more broadly.
So not those three, I don't think. Their definition isnt different in
Ethereum than the broadly accepted definition

On Fri, Apr 6, 2018, 15:41 Douglas Walseth <notifications@github.com> wrote:

[2018-04-06 22:46] owocki commented on #400
if i had my druthers, keep the

# What is a DApp?

# Components of a DApp

# DApp Frameworks

sections, and then add

# Live Dapps

## Infrastructure

ETH-pm, ENS, Eth Alarm Clock

## DEXes (Decentralized Exchanges)

Radar Relay, ForkDelta,

## CryptoCollectables

CryptoKitties,

## Knowledge Work

ETHlance, Gitcoin, Bounty0x

## Other

Decentraland

[2018-04-06 23:11] MorganGR commented on #101
Don't forget the scaling issues for charitable platforms as well as the cost of executing smart contracts when a DApp(Donation Application) is used. (See Giveth.io, Griff Green, ScalingNOW and of course Seedom.io)

[2018-04-06 23:27] SylTi commented on #101
https://medium.com/l4-media/making-sense-of-ethereums-layer-2-scaling-solutions-state-channels-plasma-and-truebit-22cb40dcc2f4 A good blog post on this very same subject.

[2018-04-07 00:04] tlehman commented on #376
I'm not sure how much detail you are looking for:
![arch-web3](https://user-images.githubusercontent.com/261552/38448821-6515a276-39bc-11e8-8313-6172f12f71b8.png)

Personally, I would prefer some sort of UML-style communication diagram, but usually architecture diagrams tend to be simplified like the sketch I put together above

[2018-04-07 00:25] pacoard commented on #376
Hello! Seems like a perfect first contribution in Gitcoin for me! I just clicked on "start work". I'll be posting the diagram here once I finish it.

[2018-04-07 01:33] pacoard commented on #376
I scratched this, I think it looks pretty cool. I am not sure about meeting all the requirements (hope I got the right logo for web3). What are your thoughts?

![eth-webapp](https://user-images.githubusercontent.com/12046663/38449785-ad633be8-39d9-11e8-995e-f9e947a6f35e.png)

I understand that further explanation on every single item would come in paragraphs before of after this diagram, so I do n

[2018-04-07 14:47] aantonop opened #413 "Capitalize bitcoin "correctly": Easy task for new contributors"
In my first book Mastering Bitcoin, I stubbornly refused to capitalize bitcoin. The network, currency, blockchain: all "bitcoin".

I'm now faced with cognitive dissonance and a stylistic mess, because I continued that practice in this book. I used "bitcoin" everywhere. Unfortunately, with Ethereum and ether, the difference is obvious and Ethereum is a proper noun. That makes sentences like "Unlike

[2018-04-07 14:49] aantonop commented on #115
Very nice progress on this. It will be included in the first edition

[2018-04-07 14:49] #115 closed, assigned to aantonop

[2018-04-07 14:51] chanan-sack commented on #413
on it, theres not too many mentions so its a piece of cake.

[2018-04-07 14:51] aantonop commented on #400
@owocki: Suggestion is great. Can you do a quick PR to add those sections to the outline?

[2018-04-07 14:53] aantonop commented on #111
Great work on this topic. See contrib/oracles.asciidoc. It will be included in the first edition

[2018-04-07 14:56] aantonop opened #414 "Review, complete and edit section on Oracles"
The contrib/oracles.asciidoc section has some great content. It will be added to the first edition.

Please:
* Review
* Comment
* Add content
* Fix issues
* Edit grammar, syntax, typos
* Suggest diagrams

Let's get it to final!

[2018-04-07 14:57] #111 closed, assigned to aantonop

[2018-04-07 15:38] chanan-sack commented on #413
done, should be closed

[2018-04-07 15:51] chanan-sack commented on #401
done, should be closed

[2018-04-07 16:10] owocki commented on #376
defer to @aantonop for feedback ^^

[2018-04-07 18:00] abhiShandy commented on #402
I have submitted a PR for terms in "What-is" , Intro, Wallets and "Keys and addresses".
I'll be adding terms from "Tokens" and "Transactions" chapter shortly, then read through other chapters which are not marked "content complete"

[2018-04-07 18:10] zasnicoff commented on #322
We should expect that the vast majority of Ethereum users will probably never read code or take necessary precautions before buying tokens.

For instance, despite the popularity, CryptoKitties code seems to have at least 2 points of concern:
- The contract owner can pause the contract at any time, rendering the tokens frozen for as long as it is paused
- The owner can create ANY token, including a

[2018-04-07 22:11] ltfschoen commented on #376
@pacoard you've done a good job so far. @aantonop where is this "architecture" diagram going to be included? is it going to accompany a specific Dapp in the Dapp section?
it would be good if the "architecture" diagrams in the book were in UML.

i think they should show things like the following:
* both HTTP RPC and Websocket RPC interactions request/response between browser and local machine
* p2p

[2018-04-08 01:14] Souptacular commented on #276
I'd like to help on this.

[2018-04-08 02:16] aantonop commented on #276
Would be delighted for any help in any section. Welcome!

[2018-04-08 05:51] fjrojasgarcia opened #421 "Try to keep your branches used in your PRs free of code conflicts"
Please, as far as possible, try to keep your branches used in PRs free of code **conflicts**.

We all could try to solve these conflicts locally and republish after the necessary changes are made. That would avoid the post treatment of the same problem.

Take it as a suggestion and please feel free to make all kinds of objections.

[2018-04-08 12:38] chanan-sack commented on #400
done, added live Dapps by name but without the different sections because it didn't match the layout of the asciidoc

[2018-04-08 12:54] ivanmolto commented on #402
Pleasure reviewing and reading the chapters for terms definitions that are not in the glossary.
Added a first batch of terms and submitted a pull request. And thank you for the other colleagues collaborating.

[2018-04-08 12:54] chanan-sack commented on #388
done, was added in recent pr as an additional paragraph to "The transaction nonce"

[2018-04-08 13:25] aantonop commented on #402
Nice work Abhishek and Ivan!

[2018-04-08 13:28] abhiShandy commented on #279
is there a need to anchor TIPS and WARNINGS?

[2018-04-08 14:23] aantonop commented on #279
No

[2018-04-08 22:44] ivanmolto commented on #402
Added a new batch of terms and submitted a pull request. Thanks!

[2018-04-09 07:57] Nideesh1 commented on #414
Hi Andreas, here's a diagram for Oraclize for the reader to visualize the process. Will go through the oracles file further
![oraclize](https://user-images.githubusercontent.com/14232287/38486141-fdbe1f32-3b90-11e8-851d-d0f12e1ea995.png)

[2018-04-09 13:34] aantonop opened #440 "Design architecture diagram for Auction DApp"
We need an architecture diagram for the Auction DApp #419, showing the various components and how they connect, including:

- The Auction contract
- The ERC721 NFT contract
- Swarm
- Whisper
- Web3.js
- React/Vue front end
- ENS

@iNDicat0r If you could make a very rough draft, perhaps just a photo of pencil/paper drawing of boxes, we have a few designers in the team who could make it look great,

[2018-04-09 13:41] iNDicat0r commented on #440
@aantonop Working on it

[2018-04-09 14:05] chronaeon commented on #329
Definitely would be happy to offer my content. I hope to take a more thorough look at @ethereumbook this week.

On another note, [this](https://github.com/benjaminion/YellowPaper_CheatSheet/blob/master/YPCheatSheet.pdf) is a truly fantastic Yellowpaper  reference from Ben Edgington (@benjaminion) of the protocol engineering team at ConsenSys. Since we're on the topic of adding appendices, it's wor

[2018-04-09 15:00] timnugent commented on #414
I think this is a touch simplistic and could benefit from emphasising which aspects of the process occur on-chain, and which are off-chain. Attaching the BlockOne IQ architectural schema, which implements the same request-response pattern as Oraclize (major difference is that "TR Pricing APIs" in this would be placed outside the "TR Backend" panel for Oraclize, as Oraclize use web-based rather tha

[2018-04-09 15:50] aantonop opened #444 "Review, comment and edit: oracles.asciidoc"
The Oracles section is now in main, ready to be merged into a chapter. It needs review, comments, edits

[2018-04-09 15:51] aantonop opened #445 "Review comments and edit: vyper.asciidoc"
The vyper section has been moved into main, ready for review, comments and edits

[2018-04-09 16:05] Nideesh1 commented on #414
@timnugent Yes, you're right. Gotcha thanks

[2018-04-09 16:15] owocki commented on #400
Thanks for doing this @chanan-sack !

https://github.com/ethereumbook/ethereumbook/commit/dbc0226971f73330755f2a474e7f77236ec8c099

[2018-04-09 16:55] aantonop opened #446 "Easy editing work: Heading style normalization and standardization"
We need to normalize heading styles across the book:

Please do one pull request PER asciidoc file, to avoid large merges. Adjust heading style in each section as follows:

* Top level heading is level 2 (level 1 is the book title itself). Each asciidoc file should start with a "==" heading.
* All lower case, except for first letter, proper nouns and acronyms. "What is this thing?", "What is the E

[2018-04-09 17:19] pacoard commented on #376
Hello! I submitted my work on Gitcoin. You can find the diagram I did with the highest quality possible in [this link](https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1&title=eth-webapp.xml#RjLzHsuNMki74NLWca9BiCU0IQhKC2EFrrfH0E2DmX10919qm09KOABlACPdPeATPv1CuO6U5Gsv3kGbtvxAoPf%2BF8v9CEBihEPDtuXL9uYIT1J8LxVylf9%2F0Xxec6s7%2BXoT%2BXt2qNFv%2B2xvXYWjXavzvF5Oh77Nk%2FW%2FXonkej

[2018-04-09 19:05] iNDicat0r commented on #440
![architecture](https://user-images.githubusercontent.com/13126311/38516626-568afda6-3c40-11e8-9b89-bdd015b27f42.png)

Quick overview:
1. Auction house contract holds auction info including bids, owner, swarm refs
2. DeedRepository tracks ownership of tokens registered with the contract.
3. Swarm is used to store metadata such as images
4. Whisper is used for messaging by allowing accounts to subs

[2018-04-09 19:43] aantonop commented on #440
Great, that's perfect. I can submit that to O'Reilly designer to stylize.

[2018-04-09 19:43] #440 closed, assigned to nobody

[2018-04-09 21:11] chanan-sack commented on #444
it seems good, i could add a section on a way to decentralize oracles using stake-based votes on specific data with different incentive-mechanisms, which of course does not solve the issue, but does broaden the readers understanding of it, should i?

[2018-04-09 21:40] chanan-sack commented on #445
took a look, it was a bit of a mess but with a recent PR it should be work in progress.

[2018-04-09 22:17] SylTi commented on #400
You forgot some of the major DEX like :
- 0x (https://0xproject.com/)
- Kyber (https://kyber.network/)
- Bancor (https://www.bancor.network/

[2018-04-09 22:22] chanan-sack commented on #400
I dont think those are important to be added, i purposely put one there thinking it's fairly simple and promising, DEX'S are a complex issue and in my opinion we shouldn't make it a focused catagory

[2018-04-09 23:37] chainhead opened #450 "METoken compilation warnings."
How do I get around these warning messages that appear upon `truffle compile`? Always nice to have 'clean' compilation, hence the question. ;)

[code]

[2018-04-10 11:45] linuxhsj opened #454 "Building a smart contract using the command line(compile Solidity contracts with Geth)"
[Building a smart contract using the command line(compile Solidity contracts with Geth)](https://ethereum.stackexchange.com/questions/45276/building-a-smart-contract-using-the-command-linecompile-solidity-contracts-with)

Referring to this article I created a smart contract.I choose USING REMIX. I copy all the code in the WEB3DEPLOY textbox and then paste the resulting text on my geth window.
`
va

[2018-04-10 12:19] iNDicat0r commented on #450
Right now its impossible to turn off those warning, however you could edit those files and prepend `emit` in front of those event functions.

[2018-04-10 19:47] owocki commented on #376
hey @pacoard -- i see the submission.. thanks. are you planning on taking a second pass after @ltfschoen 's comment?

[2018-04-10 23:04] aantonop commented on #376
Looks great to me @pacoard. Please use a pull request to add it to images folder.

@owocki: task completed

@ltfschoen: please add a separate issue for your suggestion of UML diagrams. It's not a bad idea but might be a bit too obscure for the average reader. I'd like to get more feedback on that from other contributors. A separate issue would allow that discussion. Thank you for your suggestion!

[2018-04-10 23:04] #376 closed, assigned to nobody

[2018-04-10 23:15] pacoard commented on #376
@owocki I understand the points @ltfschoen made, but those seem a better fit for different diagrams that might be out of the scope of the initial task. Any changes on that, I'll be more than happy to add things or even contribute to more diagrams, as @ltfschoen pointed.
@aantonop right on!

[2018-04-11 03:09] fjrojasgarcia commented on #454
check current block gas limit by running - eth.getBlock("latest"). If you supply more gas than this value, you will face 'Exceeds block gas limit' error

[2018-04-11 03:12] fjrojasgarcia commented on #450
You will also need the correct version of the compiler.

[2018-04-11 03:21] fjrojasgarcia commented on #446
Should we consider them [contribute's ](https://github.com/ethereumbook/ethereumbook/blob/develop/CONTRIBUTE.md) notes?

[2018-04-11 17:13] pyskell opened #477 "Which EIP reverted the 20 million DoS transactions on Ethereum blocks 2.2-2.7 million?"
https://github.com/ethereumbook/ethereumbook/blob/c9095de862226b3c556fafd669d3dd6cea57cd17/clients.asciidoc#L459

There's a reference to a change in the network to remove 20 million spam transactions. However I'm having trouble locating the EIP that did this and am wondering if there was no network change and it was simply a change to how clients handle these transactions (rather than truly removi

[2018-04-11 17:19] pyskell commented on #477
Further, I think this paragraph is referring to https://github.com/ethereum/EIPs/issues/168 which remains open/not accepted.

[2018-04-11 18:47] SylTi commented on #318
I'm working on a first draft for this

[2018-04-11 22:08] danieljwonder commented on #322
It could also be worth covering the Underhanded Solidity Coding Contest where they exposed several methods for how bugs can be introduced into smart contracts without there necessarily being bugs in Ethereum itself. This would also speak to the value of Audits as @zasnicoff suggested.

[Underhanded Solidity Content](http://u.solidity.cc/) -> [Winning Entries](https://medium.com/@weka/announcing-th

[2018-04-11 22:29] danieljwonder commented on #400
It would probably be useful to reference [State of The DAPPS](https://www.stateofthedapps.com/). It is the largest compilation DAPPs in a single place that I'm aware of and would allow the reader to perform their own continued research.

[2018-04-11 22:43] danieljwonder commented on #114
This is a solid use case and I would suggest linking in with #129

[2018-04-11 23:01] danieljwonder commented on #138
I wrote up a post on the origins of Ethereum classic and how the fork came to be last year that could probably be restructured to provide some context in this book. I'm just wondering where this would fit within the flow of the book to know how to introduce and present it. I can only see a few small mentions at the moment.
https://www.danielmcclure.com/ethereum-vs-ethereum-classic/

[2018-04-12 01:19] aantonop commented on #138
You can create/add it in a new section "contrib/etc-history.asciidoc". We
will figure out how to merge it. @pyskell

[2018-04-12 01:21] aantonop commented on #322
Here's another interesting write up of common security issues:
https://medium.com/loom-network/how-to-secure-your-smart-contracts-6-solidity-vulnerabilities-and-how-to-avoid-them-part-1-c33048d4d17d

[2018-04-12 03:15] danieljwonder commented on #138
@aantonop I actually started writing up a fresh narrative that would fit after the what is Ethereum section, submitted an pull and only noticed that @pyskell was already working on it after so have set up a pull request of our combined work here: https://github.com/pyskell/ethereumbook/issues/1
Can also spin into separate doc if required.

[2018-04-12 18:01] #390 closed, assigned to nobody

[2018-04-12 22:33] SylTi commented on #400
I agree, didn't know it existed, thanks for sharing!

[2018-04-12 22:53] fiiiu commented on #318
@SylTi I just opened #486 with a (very short) intro to OpenZeppelin and zeppelin_os, apologies for stepping over, please check if it is of use.

BTW we are working on an interesting upgradeability pattern for zeppelin_os that might be worth including, let me know if you want to sync on this!

[2018-04-12 23:01] manilabay commented on #400
I visited last week stateofthedapps and totally agree it deserves a link in the references in this dapps section

[2018-04-13 00:06] #387 closed, assigned to nobody

[2018-04-13 11:36] SylTi opened #487 "clients : a few issues"
Hey @aantonop , I found a few issues concerning the clients.asciidoc file

We must be very careful here when describing ethereum full node:
a fast sync node does not validate the state after every block like a bitcoin pruned node would do, it only starts validating everything for something like the last 1000 blocks before the current state.
This means that fast sync nodes require some kind of leve

[2018-04-13 11:40] SylTi commented on #318
@fiiiu don't worry, no problems at all, happy to see more contributors 👍
And I was working on the more technical part anyway :)

[2018-04-13 14:54] #388 closed, assigned to nobody

[2018-04-13 14:54] #401 closed, assigned to nobody

[2018-04-13 21:15] ltfschoen commented on #400
ConsenSys's Truffle Boxes should also have a mention since they provide boilerplate DApps for others to build upon http://truffleframework.com/boxes/

[2018-04-13 22:51] ltfschoen opened #490 "UML Diagrams, Infographics, History & Photos of Creators"
I think a good proportion of readers like a visual representation to augment their reading and so they can see the big picture. I think there's an opportunity to include some good quality architecture diagrams in the book, particularly showing best practices in UX development (i.e. [Web3 Design Principles / UX Rules for Ethereum DApps](https://medium.com/@lyricalpolymath/web3-design-principles-f21

[2018-04-13 23:00] smartcontracts commented on #444
Grammatical & structural revisions below. Will make another comment with content revisions later.

This is a bit of a run-on sentence.

"Scope" twice feels off.

I'm not sure the large list of examples of data that can be provided is particularly necessary, but that's up for debate. A few example are very useful.

The parallelism here seems off. Maybe something like: "In this section, we will exam

[2018-04-13 23:19] aantonop commented on #414
It seems I've duplicated this issue. See #444.

[2018-04-13 23:19] #414 closed, assigned to nobody

[2018-04-13 23:21] aantonop commented on #444
@kfichter Can you make a pull request with these changes, or should I turn these suggestions over to one of the editors? Thanks!

[2018-04-13 23:25] smartcontracts commented on #444
@aantonop would be more than happy to submit the PR. Will do in a few.

[2018-04-14 00:59] SylTi commented on #444
I do not agree with this statement.
An oracle doesn't need to be automatized at all. Anybody can play the role of an oracle in resolving conflicts. You can even have more than one person playing that role in the case of a "Tribunal Oracle" like 5 peoples votes and majority win (I have seen cases where the all the token owners are expected to vote as oracles.)

I think we should have 2 sections one

[2018-04-14 01:02] smartcontracts commented on #444
@SylTi Although I might call that a form of primitive "off-chain infrastructure", I'm inclined to agree :'-). It should probably be further explained that oracles are a much more general idea and that automated oracles are a subset of this idea.

[2018-04-14 01:12] SylTi commented on #444
Yep, after all a 2 of 3 multisig is already kind of an oracle

[2018-04-14 10:22] timnugent commented on #444
@kfichter thanks for these corrections - broadly agree with them all. The list of example use cases was intended to be whittled down and perhaps re-ordered too

[2018-04-14 10:24] timnugent commented on #444
@SylTi the emphasis in that statement was on one practical implementation, but I don't think it excludes the non-automated scheme you describe. Further down it says "A range of alternative schemes are also possible" and also mentions human-based oracles. Perhaps you can add something around there?

[2018-04-14 10:56] SylTi commented on #444
@timnugent Sure I will try to add some additional informations but I need to finish up the draft I'm working on for the upgradability patterns.
I will do a PR on this afterward

[2018-04-14 21:23] aantonop opened #496 "Diagram: EVM context when running a smart contract"
When a smart contract is running, it has a very limited context (state) it can access through the EVM.

We need a diagram that shows this: A circle or box in the middle that is the EVM and within it the contract. Surrounding it are boxes representing the various parts of the context: one box for the calling transaction context, one for the contract variables, one for the blockchain etc. Each of th

[2018-04-15 00:00] NukeManDan commented on #413
@aantonop - close #413 ?

[2018-04-15 00:04] NukeManDan commented on #446
At this point, think this is closed @aantonop ? close #446 ?

[2018-04-15 00:32] nuke-web3 commented on #279
@aantonop - close #279 ? and/or add this to contributions page for future reference?

[2018-04-15 15:11] aantonop opened #500 "Complete ENS section"
So far I have a basic outline: ens.asciidoc. I'd like to include ENS in the first edition, as part of the dapps section.

@alexvandesande You said you might be able to help with this?

Contributions welcome

[2018-04-17 11:11] SylTi opened #506 "Ethereum Recovery Proposal"
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-867.md

I think this should be discussed in the book, mainly because it is extremely controversial and kind of break the whole "Code is Law" paradigm. Opinions anyone? @aantonop

[2018-04-18 16:51] pyskell commented on #487
This issue is also compounded by a few variables:

1. Level of pruning, on a fully pruned parity node for example it's like <30 GB
1. Client, geth tends to use ~50% more disk space than parity. Other clients likely use different amounts as well

I think the existing recommendation in `clients.asciidoc` of checking 3rd party sources (which tend to use geth) is a good one as the chain size is always

[2018-04-18 17:17] pyskell commented on #138
So far this has been partly addressed in: #310 #363 #461 #479 #481

Suggestions for more contributions:

- [ ] Deep dive into SputnikVM/technicals
- [ ] Emerald Project and associated tools/libraries
- [ ] Mantis client creation (first Scala-based Ethereum client)
- [ ] Cover ETC's various naming systems (there's a chapter on ENS)

[2018-04-19 22:35] #413 closed, assigned to nobody

[2018-04-19 22:36] #402 closed, assigned to nobody

[2018-04-19 22:36] #279 closed, assigned to nobody

[2018-04-19 22:36] #446 closed, assigned to nobody

[2018-04-19 22:36] #315 closed, assigned to nobody

[2018-04-20 13:35] SylTi commented on #101
Perun
https://ethresear.ch/t/perun-virtual-payment-and-state-channel-networks/1685

[2018-04-20 13:40] ltfschoen commented on #490
Prysmatic labs have a bounty to design a visualisation of Sharding here https://github.com/prysmaticlabs/geth-sharding/issues/94

[2018-04-20 13:48] ltfschoen commented on #445
I'll try to take a look at this tomorrow. I just spent the last few days going through Vyper in depth. I'd like to show how  I compiled a simple contract, used the latest Web3.py to deploy it to a Geth Node or the Truffle Develop built-in blockchain, have the transaction mined, and with contract address obtained from the deployment transaction receipt show how to call its contract methods

[2018-04-20 22:26] ltfschoen commented on #496
I'm in the process of creating an initial sketch to get this moving

[2018-04-20 23:03] aantonop commented on #496
Super!

[2018-04-21 06:40] ltfschoen commented on #496
I've run out of time today but here are some messy sketches to get the ball rolling

![20180421_162503](https://user-images.githubusercontent.com/6226175/39081312-6b50448a-4582-11e8-93e0-f637e643359b.jpg)

![20180421_162514](https://user-images.githubusercontent.com/6226175/39081313-70cfa73e-4582-11e8-8f4c-23198f9cdc3c.jpg)

![20180421_162550](https://user-images.githubusercontent.com/6226175/3908

[2018-04-21 14:40] fjrojasgarcia commented on #506
Super interesting @SylTi

_"Frozen fund recovery proposals are almost never successful due to the relatively ad-hoc nature of such requests and the subjectivity that is often required to evaluate the merits. This EIP attempts to remove these barriers by providing both a standardized format for fund recovery EIPs and an objective standard by which to measure future proposals."_

[2018-04-22 15:15] lrettig commented on #336
Seconded. I see hardly any content that's been written, and in the TOC, on the topic of governance. If it were my book, I'd devote a chapter to this topic since I think it's enormously important -- important to understand how Ethereum came to be the way it is, important to understanding the processes that are happening right now, and most of all important for understanding how it will continue to

[2018-04-22 15:18] lrettig commented on #506
Agree that this (and http://eips.ethereum.org/EIPS/eip-999) are pretty important candidates for inclusion. Happy to summarize and/or contribute a write-up in the context of the governance topic (cf. #336).

[2018-04-22 15:27] ltfschoen commented on #496
Here's an image of the EVM Context that I just finished, and a link to the original on Lucidcharts. Feedback appreciated:

License: CC-BY
Author: @ltfschoen

[https://www.lucidchart.com/invitations/accept/def50297-b59e-4b82-8d78-1a1b8e9ff2e5](https://www.lucidchart.com/invitations/accept/def50297-b59e-4b82-8d78-1a1b8e9ff2e5)

![ethereum evm context](https://user-images.githubusercontent.com/622617

[2018-04-22 15:38] aantonop commented on #336
We'd love to include some content on governance. Add an outline and then
content to the "contrib" folder, with a couple PRs.

Can't promise it will make it into the first edition, as we are a month
away from closing that, but it can easily make it into the second edition
and be the basis of other improvements and contributions.

Let's get the ball rolling!

[2018-04-22 15:49] aantonop commented on #496
Can't use a CC-BY-SA license. See "CONTRIBUTE.md". The book is originally
(first year) licensed CC-BY-NC-ND, which is incompatible with CC-BY-SA. We
will eventually re-license it as CC-BY-SA, but for the first year it is
not.

We need a license of CC-BY to even consider adding contributions.

[2018-04-22 16:20] ltfschoen commented on #496
That's cool, I've updated the image to be CC-BY so it may be considered for the book

[2018-04-23 02:31] starmanzz9 commented on #313
[code]
For counterfactual contract deployment (i.e. computing contract addresses before deployment), EOA nonce starts at 0 but the Contract nonce starts from 1. `address(keccak256(rlp_encode([addr, nonce])))`. This allows EOA/contract to send funds to counterfactual contract addresses that'll be depolyed later by base contract/EOA.

Things might break after metropolis, https://github.com/ethereum/

[2018-04-23 08:13] fjrojasgarcia commented on #336
Thanks for support the proposal.

[2018-04-23 12:16] lrettig commented on #336
I like deadlines. Deadlines are good. Hold my drink :)

Seriously though, governance is an important topic and it belongs in the first edition if at all possible. If you think there's a chance of making that deadline, I'll write this. (If not, given that Ethereum governance is such a moving target and there's less time pressure, I'd instead be inclined to wait a few months and see what changes).

[2018-04-23 12:24] lrettig commented on #477
[EIP-161](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-161.md) did this. In short, it was not an irregular state transition like the Dao fork but the result was similar. In this case, EIP-161 made a change to the protocol regarding how to handle the case where an account is or becomes "empty" after a transaction (zero nonce, no balance, no code). After the change, such accounts are actual

[2018-04-23 12:58] SylTi commented on #336
If you wanted to troll a little bit you could resume the governance model to "PoV": Proof of Vitalik.

More seriously I think the governance model has some pretty big issues:
Important peoples get bailed out, people that don't matter don't.

The first Parity hack got some people funds stolen before the white hat group could secure them, but there is only a recovery proposal for the second hack, th

[2018-04-23 13:03] lrettig commented on #336
I hear you, but I disagree. A chapter on governance should attempt to describe _how things work today_ rather than _how they should work_, which is subjective and normative. It's pretty clear how things work today--not to say that they're perfect.

Here's a rough sketch of an outline for such a chapter:

- What is governance? Define it and tie it back to the "real world"
  - Coordination problems

[2018-04-23 13:16] pyskell commented on #477
Awesome, thanks for clearing that up for me!

[2018-04-23 13:16] #477 closed, assigned to nobody

[2018-04-23 14:05] fjrojasgarcia commented on #336
[Notes on Blockchain Governance](https://vitalik.ca/general/2017/12/17/voting.html) - Vitalik Buterin's website

[2018-04-23 14:25] lrettig commented on #336
Yes, I'm aware of that article, and I've borrowed some terms and ideas from it. Thanks for the link.

[2018-04-23 20:57] stefek99 opened #522 "Wallet chapter says "content complete" but maybe consider multisig wallets?"
https://github.com/ethereumbook/ethereumbook/blob/develop/wallets.asciidoc

Definitely worth adding a mention.

[2018-04-24 06:41] fjrojasgarcia commented on #329
At this point it seems that to be able to integrate **"The Beigepaper"** into the book, an elaborate work is necessary to adapt its original format (LaTex) to asciidoc.

At the moment I proceed with the preliminary steps of branch creation and automatic conversion.

1. [beigepaper fork created](https://github.com/ethereumbook/beigepaper)
2. [Working branch created](https://github.com/ethereumbook/

[2018-04-24 15:18] Meshugah opened #527 ""examine flaws in later sections""
In Intro.asciidoc, under the "A simple contract: a test ether faucet" section, there is a line saying that the current smart contract is flawed. Would It be useful to link where in the book this would be handled(for sake of cohesion)?

[2018-04-25 01:03] naveensrinivasan opened #529 "Inconsistent version reference of solidity compiler"
The `pragma solidity ^` version within the chapters refers to multiple different version. It would be nice to have consistent version across. Thoughts on this?

[2018-04-25 11:18] SylTi commented on #529
I would not recommend just changing the version number. Some stuff might just not compile afterward.
Also the solidity version is the minimum version, it will use the latest version you have installed anyway.

[2018-04-26 11:43] chronaeon opened #532 "Yellowpaper Cheat Sheet"
@fjrojasgarcia @aantonop if you're still considering adding the Yellowpaper as an appendix, consider adding this Yellowpaper cheat sheet along with it from @benjaminion: https://github.com/benjaminion/YellowPaper_CheatSheet/blob/master/YPCheatSheet.pdf

[2018-04-26 19:33] lrettig commented on #101
I can contribute to this section as well. I've done quite a bit of research on the state of scaling and have written about it as well.

[2018-04-27 18:20] emmonspired commented on #400
If it helps, I have a full working example of a Dapp with Truffle Boxes & Angular, as well as a Whitepaper explanation of what it does. https://github.com/emmonspired/erc20-digital-signature-verify

Whitepaper and Demo: UX for Authenticated & Verified ERC20 Payments Using MetaMask and EthSigUtil https://steemit.com/ethereum/@emmonspired/whitepaper-and-demo-ux-for-authenticated-and-verified-erc20-p

[2018-04-27 22:20] lrettig commented on #336
This is a work in progress at https://github.com/ethereumbook/ethereumbook/compare/develop...lrettig:governance. Normally I would file a work-in-progress PR to track the progress, not sure if that's how you like to do things here, so I haven't yet.

[2018-04-27 23:59] fjrojasgarcia commented on #532
Thanks a lot @chronaeon! Superb!

[2018-04-28 00:02] fjrojasgarcia commented on #329
Adding reference "Yellowpaper Cheat Sheet" #532 provide by @chronaeon

[2018-04-28 05:47] MorganGR opened #540 "Commercial Viability of the Ethereum ecosystem."
Perhaps a section to investigate and comment on the current uptake of the Ethereum ecosystem.
I do find a turn towards Ethereum which is useful and "cool".

I find companies that  have done ICOs, corporates, IT integrators and some IT vendors all going towards specific versions of Ethereum clients.
No one seems to have an overall view. Also no one seems to have an overall plan to test, evaluate an

[2018-04-28 21:38] tpmccallum commented on #445
I have committed about a dozen changes, this is coming along nicely. When I started the bones of this chapter there were a lot of loose ends. The development of Vyper has been consistent so it is now just a matter of working through the TODOs in the asciidoc. It would be great to have more code examples. The suggestion on walking through the whole coding process, including compiling and deploying

[2018-04-28 21:43] ltfschoen commented on #445
Here is the code I wrote and instructions on how to deploy a Vyper contract using either Geth Node or Truffe Develop  https://github.com/ltfschoen/vyper-test

[2018-04-30 18:16] naveensrinivasan commented on #529
@SylTi Can you specific as to which things would not compile with the latest version?

[2018-05-01 15:26] Meshugah opened #556 "description unclear(dev-tools.asciidoc)"
[[1_initial_migration]] .1_initial_migration.js . What does this even mean? is this a markdown error? It is not self-descriptive.

[2018-05-03 19:51] ucalyptus commented on #556
@Meshugah Send the link where you found it. Thanks!

[2018-05-08 15:00] #527 closed, assigned to nobody

[2018-05-08 15:00] #556 closed, assigned to nobody

[2018-05-12 09:37] fjrojasgarcia opened #572 "The Flint Programming Language"
Flint is a new type-safe, capabilities-secure, contract-oriented programming language specifically designed for writing robust smart contracts on Ethereum.

[The Flint Github repo](https://github.com/franklinsch/flint)

[2018-05-16 12:34] EvertonMelo commented on #192
@aantonop

Hi,

What would be the best option for Organized this Appendice  ?

= Countries

or

= Continents

or Together

exemplo:

= North America
== USA; THE 2018 JOINT ECONOMIC REPORT, cap 9 - ( pages 201-226 )

= South America
== Brazil, Considering the growth of the so-called Initial Coin Offerings

[2018-05-16 12:41] EvertonMelo commented on #192
@ltfschoen

thank you for your contribution.

Do you know how to tell me, if the regulamentation the New york State about Blockchain if she talks about ICO or Smart Contracts

[2018-05-16 15:11] aantonop commented on #192
This topic is outside the scope of a technical book like Mastering Ethereum

[2018-05-16 15:29] EvertonMelo commented on #192
@aantonop

ok.

[2018-05-16 15:29] #192 closed

[2018-05-18 14:04] tpmccallum commented on #445
Hi @aantonop
I have completed all of the many TODOs which I created at the outset.
A new PR is available https://github.com/ethereumbook/ethereumbook/pull/582
The Vyper developers have been super helpful with this chapter, what a great community!
I will continue to keep an eye on upcoming developments, tests and documentation and keep up the writing, as the Vyper development inevitably continues o

[2018-05-26 08:35] weberV commented on #376
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.08 ETH (55.37 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereumbook/ethereumbook/376/221).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a

[2018-05-26 08:35] weberV commented on #402
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereumbook/ethereumbook/402/222).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a

[2018-05-29 09:30] jeamick commented on #85
Hello there , for privacy on Ethereum we can talk about Multi party  computation with reference to the Enigma Project  : https://github.com/enigmampc

[2018-06-02 14:51] chanan-sack opened #630 "no "Standards from Bitcoin used in Ethereum""
It seems that this part of the "standards eip-erc" was never really written but is intended to conver an importent note of=n the technical connection of bitcoin and Ethereum(?)

So is this section needed or should it be removed?

[2018-06-05 23:58] fjrojasgarcia opened #632 "Inter-chain blockchain protocols"
I find it interesting to propose a chapter dedicated exclusively to Inter-chain blockchain protocols.

Links:
[Polkadot Vision](https://polkadot.network/#whatisit)
[012 - Polkadot Network - TECHNOLOGIES THAT ALLOW US TO TRUST - Dr. Gavin Wood](https://youtu.be/qOuCmwRY5o4)

[2018-06-06 18:10] tomas-aftalion opened #633 "code/Solidity/FaucetEvents not present."
Hi,

In the Smart Contracts section, under [catching-events](https://github.com/ethereumbook/ethereumbook/blob/develop/smart-contracts.asciidoc#catching-events) it says to refer to code under

[code]

That directory is not present. Not sure if it is planned to be added in the future but just in case.

Best,
Tomas

[2018-06-07 00:12] tomas-aftalion commented on #632
Reminds me of a recent article in [MIT Tech Review](https://www.technologyreview.com/s/611187/how-to-get-blockchains-to-talk-to-each-other/). They should have mentioned Polkadot.

[2018-06-07 21:26] tomas-aftalion commented on #633
Pushed #634, had not seen it.

[2018-06-12 09:40] tpmccallum commented on #445
@gavofyork I see that the tech review is coming along nicely. Apologies for not getting my Vyper chapter TODOs done before the freeze, I was not aware that the freeze was coming :(

This pull request < https://github.com/ethereumbook/ethereumbook/pull/582 > wraps up all of the TODOs (added since I started the Vyper chapter). This PR also adds continuity to the chapter. What would be the best way t

[2018-06-16 11:47] onggunhao commented on #329
Is this still an open issue? Can help out if needed

[2018-06-17 22:13] danieljwonder commented on #522
If I'm not mistaken most, if not all, multi-sig wallets are actually smart contracts built on the Ethereum blockchain so they are not a unique type of wallet but a contract that uses the base wallets for interaction. That could be explained though?

[2018-06-17 22:15] danieljwonder commented on #500
Does anything exist for this yet?

[2018-06-25 20:08] #633 closed, assigned to nobody

[2018-07-05 13:19] kotepillar opened #651 "There’s a typo in the paragraph about the term Revert."
The first “require” in this sentence should be “revert” instead.
https://github.com/ethereumbook/ethereumbook/blob/develop/glossary.asciidoc

[2018-07-08 21:55] VermeirJellen opened #655 "Possible issue with voting smart contract"
Hi,

I'm new to Solidity so it's possible that I'm missing something. I think that the final withdraw() function in the smart contract chapter allows every winning voter to drain the contract. If this is true then it should probably be fixed or at least mentioned as something to watch out for.

https://github.com/ethereumbook/ethereumbook/blob/develop/smart-contracts.asciidoc

[2018-07-09 15:16] VermeirJellen opened #656 "METoken - Missing emit keyword for Transfer event"
Missing emit keyword for Transfer event? Line 14:

https://github.com/ethereumbook/ethereumbook/blob/develop/code/truffle/METoken/contracts/METoken.sol

[2018-07-14 19:17] #336 closed, assigned to nobody

[2018-07-15 08:33] fankeke opened #664 "Some tips on writing ?"
Thanks for the great work you guys did.

if only there are more **_pictures_** to describe the meaning you want to deliver, it would be better.

it is hard for beginners to digest so many words.  easy to use up  enthusiasm.

Thanks many.

[2018-07-20 17:39] aantonop commented on #664
I'm working on diagrams now. I would really appreciate suggestions on which sections could use visualization/diagrams. Are there specific sections that you think I should focus on?

[2018-07-20 17:42] aantonop commented on #656
The emit keyword was added in 0.4.21. I made the change

[2018-07-20 17:42] #656 closed, assigned to nobody

[2018-07-20 17:42] #651 closed, assigned to nobody

[2018-07-20 18:04] sheluchin commented on #664
Just a thought, but perhaps it would be helpful to use something like [Mermaid](https://mermaidjs.github.io/) for creating the diagrams? It plays nicely with revision control unlike just copying image files into folders and replacing them with every edit.

[2018-07-20 18:07] aantonop commented on #664
The diagrams are done by a professional illustrator/designer at O'Reilly
Media, to their style.

I just provide a rough draft to guide the designer, which they replace. I'm
probably going to use Grafio for that, but I'll look into Mermaid

On Fri, Jul 20, 2018 at 12:04 PM Alex Sheluchin <notifications@github.com>
wrote:

[2018-07-22 16:29] aantonop opened #694 "Difficulty running auction_dapp"
@iNDicat0r I need some help running and documenting the auction_dapp so I can include it in the dapp chapters. Are you available this coming week?

[2018-07-22 17:13] iNDicat0r commented on #694
@aantonop yes i will be available.

[2018-07-26 07:45] WizardOfAus commented on #664
@aantonop It would be nice to have some visualizations in chapters where it can get a bit dry. I think for example: https://github.com/ethereumbook/ethereumbook/blob/develop/smart-contracts.asciidoc could do with simple/some images to help the mind focus and visualise

e.g.

![smart-contracts](https://user-images.githubusercontent.com/9751831/43248525-09ac3e72-90b0-11e8-81ff-e41706c6bf32.png)

(ta

[2018-07-26 18:20] WizardOfAus opened #714 "Noticed glossary missing a few terms"
Noticed glossary was marked as complete but is missing a few terms. One of them is 'Singleton' for singleton state

[2018-07-27 01:12] WizardOfAus opened #720 "Some invalid links - ganache"
For example in https://github.com/ethereumbook/ethereumbook/blob/develop/intro.asciidoc

<img width="889" alt="screen shot 2018-07-27 at 2 08 33 am" src="https://user-images.githubusercontent.com/9751831/43296271-57cb5510-9142-11e8-9490-ce1e7ca1ba2c.png">

The links to see 'ganache', 'testnets' etc point nowhere. For ganache, there is no other mention on the page.

[2018-07-29 18:13] luciodiri opened #722 "Ethreum basics intro - Remix may not show deployed contract"
under - https://github.com/ethereumbook/ethereumbook/blob/develop/intro.asciidoc#creating-the-contract-on-the-blockchain
After deploying the Faucet contract successfully , it may not update under "Deployed contracts" on Remix.
In that case you can follow the contract deployment transaction on Metamask to the block explorer. then get the address to add to Remix.

[2018-08-01 08:59] GoddessLuBoYan opened #736 "i can't use "inject web3" in remix IDE"
Error:No injected Web3 provider found. Make sure your provider (e.g. MetaMask) is active and running (when recently activated you may have to reload the page).
![default](https://user-images.githubusercontent.com/38455509/43511742-c5361866-95ab-11e8-9627-baf5fac0dfc3.PNG)

However, i have it.
![default](https://user-images.githubusercontent.com/38455509/43511774-e2d408d8-95ab-11e8-9b87-77dd95f86f9

[2018-08-01 09:05] GoddessLuBoYan commented on #736
It's my full webpage
![rtx](https://user-images.githubusercontent.com/38455509/43512190-fde359c0-95ac-11e8-9a17-7148c7c6fa2e.png)

[2018-08-01 11:07] GoddessLuBoYan commented on #736
Well, maybe I must use http://remix.ethereum.org but not IDE on my disk
however, when the webpage starts compiling, it will never complete.......

[2018-08-01 11:07] GoddessLuBoYan commented on #736
And I can't set the compiler version

[2018-08-01 11:26] GoddessLuBoYan commented on #736
I have done. I should use firefox but not chrome

[2018-08-01 11:26] #736 closed, assigned to nobody

[2018-08-02 02:06] treefriend opened #737 "Faucet deploy error"
When I use https://remix... to deploy Faucet.sol, it's always pending.
When I switch to http://remix..., everything seems to be fine.

[2018-08-06 13:37] timnugent commented on #166
SchellingCoin is in there too

[2018-08-06 13:37] #166 closed, assigned to aantonop

[2018-08-06 23:56] didongke opened #746 "scheduled date?"
This repository contains the draft of the book, currently in progress, scheduled for publication in Q4'2018 by O'Reilly Media.

Q4'2018  or  Q4'2017 ?

[2018-08-09 00:15] michaelstone2020 opened #748 "Faucet7.sol Missing ;"
Faucet7.sol Missing ; in function withdraw

[2018-08-10 11:53] rishabhc43 opened #754 "Glossary for Bytecode, Merkle Patricia Tree and Singleton missing"

[2018-08-11 17:55] marcelomorgado opened #759 "FibonacciLib wrong code"
Lib only works when start variable is 0.

[2018-08-11 18:09] marcelomorgado commented on #759
misunderstanded

[2018-08-11 18:09] #759 closed, assigned to nobody

[2018-08-15 01:36] didongke opened #766 "Wrong number"
In Ethereum you may see public keys represented as a hexadecimal serialization of 66 hexadecimal characters (33 bytes).

I think it should be "130  hexadecimal characters (65 bytes)".

[2018-08-27 18:26] #766 closed, assigned to nobody

[2018-08-27 23:20] LispEngineer opened #777 "Plural of "hovercraft" is used as "hovercrafts""
In `what-is.asciidoc` there is a reference to "hovercrafts." Thus seemed unusual to me. I had previously only seen that, rather, "hovercraft" is pluralized like "aircraft," in that both singular and plural are the same word.

Of course, English is a live language and well meaning people could argue about this all day long (and many descriptivist documents reference both "hovercraft" and "hovercraf

[2018-08-31 09:23] klen1n opened #780 "unclosed parentheses"
[In this section](https://github.com/ethereumbook/ethereumbook/blob/develop/dapps.asciidoc#bottom-layer-name-owners-and-resolvers) the example of namehash calculation is missing some open and close   parentheses.

[2018-09-02 11:11] daVincere opened #783 "Link to Smart Contracts Invalid"
This [link](https://github.com/ethereumbook/ethereumbook/blob/develop/smart-contracts.asciidoc) is supposed to be a redirect from Smart Contracts in README.md. But returns a 404.

The link needs to be corrected. More so because it is the only chapter that's been shown to have been completed fully.

[2018-09-03 00:54] didongke opened #784 "Where is the the architecture diagram of EVM？"
There is also a set of environment variables and data that are available during execution. We will go through these in more detail in this chapter, but you can see them in the architecture diagram [evm_architecture]:

[2018-09-03 18:59] #746 closed, assigned to nobody

[2018-09-03 18:59] #748 closed, assigned to nobody

[2018-09-03 18:59] #754 closed, assigned to nobody

[2018-09-03 18:59] #777 closed, assigned to nobody

[2018-09-03 18:59] #783 closed, assigned to nobody

[2018-09-04 07:36] morenoh149 commented on #784
It's in progress https://github.com/ethereumbook/ethereumbook/issues/496

[2018-09-05 18:34] aantonop commented on #496
Fantastic! Will include this image - thanks

[2018-09-05 18:34] #496 closed, assigned to nobody

[2018-09-08 12:59] amaramrahul opened #789 ""truffle compile" in code/truffle/METoken fails"
Here is the error:

TypeError: First argument must be a string, Buffer, ArrayBuffer, Array, or array-like object.
    at fromObject (buffer.js:262:9)
    at Function.Buffer.from (buffer.js:101:10)
    at new Buffer (buffer.js:80:17)
    at Object.<anonymous> (/Users/rahul/ethereumbook/code/truffle/METoken/truffle-config.js:15:25)
    at Module._compile (module.js:570:32)
    at Object.Module._exte

[2018-09-09 03:28] Meshugah commented on #789
Could you provide detail on what steps you followed?

[2018-09-14 00:21] fjrojasgarcia opened #791 "Ethereum flavored WebAssembly (eWASM)"
**eWASM** is a restricted subset of **WASM** (_WebAssembly_) to be used for contracts in Ethereum.

eWASM upgrade the EVM by converting to use a subset of Webassembly (Wasm). Wasm is a new Assembly standard being built for the web. The main advantage of using wasm is performance (both speed and size). The main disadvantage would be the need to port our existing infrastructure to use a new ISA.

[E

[2018-09-14 00:27] fjrojasgarcia opened #792 "Go implementation of Ethereum 2.0 - casper & sharding"
Currently, **blockchains do not scale**.

With Ethereum receiving over a million transactions per day, the network is desperate for a solution that will help sustain its massive growth and adoption.

The **Prysmatic Labs** Team are building out **a full featured sharding client**, allowing the system to process transactions at over 10x - 100x of its current speed!

[Prysmatic Labs Ethereum 2.0 Imp

[2018-09-22 08:49] chanan-sack commented on #780
fixed this, can be closed.

[2018-09-22 08:52] chanan-sack commented on #720
this was edited (removed the unnecessary) and the issue should be closed.

[2018-09-22 08:55] chanan-sack commented on #714
altough relavent, the term is quite obscure and not used to much so it might not be fitting to be added to the glossary, do you have any other examples?

[2018-09-25 00:17] 5chdn commented on #361
happy to write this up if desired.

[2018-09-25 00:18] 5chdn commented on #276
need help, @Souptacular ?

[2018-09-25 00:21] Souptacular commented on #276
@5chdn that would be awesome.

[2018-09-29 09:48] amaramrahul commented on #789
Below are the steps for reproducing the issue. I am using OS X El Capitan.
[code]

[2018-10-09 00:21] TabiasP commented on #789
I'm getting the same error

[2018-10-09 00:24] TabiasP commented on #789
The problem comes when installing:
truffle-wallet-provider@0.0.5
ethereumjs-wallet@0.6.2
dotenv@6.1.0

[2018-10-13 18:49] Arvanaghi opened #819 "Not mentioned as contributor in book?"
Hi, I wrote a big chunk of the EVM/disassembly chapter per @aantonop's request. I don't see my name acknowledged in the preface of the book with the other contributors.

https://github.com/ethereumbook/ethereumbook/graphs/contributors

[2018-10-13 20:12] aantonop commented on #819
How would you like your name listed? Do you want your GitHub ID? See the
preface and compare, let me know ASAP!

Thanks

[2018-10-13 22:32] Arvanaghi commented on #819
Spoke with @aantonop on Twitter. Thanks for fixing!

[2018-10-13 22:32] #819 closed, assigned to nobody

[2018-10-15 08:07] FFengIll opened #821 "add description for uint and int and so on."
Plz fix 07smart-contracts-solidity.asciidoc about the solidity type.

uint and int are both uint (just alias) (vice versa),
but the loss of the detail description may lead a misunderstand (different from C like language).
the misunderstand may cause an ignore of programming security thinking.

[2018-10-31 12:36] ekaitz-zarraga opened #830 "Minimum requirements for a full node grow too fast"
Ethereum full-node requirements grow too fast to put any numbers in the book because they get old in minutes. At the moment the Blockchain size is >1TB and in the latest commit about it ([Mar 16](https://github.com/ethereumbook/ethereumbook/pull/287/commits/3efb95176ead77517941d3b9fbe9f91c6d845348)) was marked 200GB.

Main problem is not only the blockchain size, the I/O capacity needs to be very

[2018-11-02 15:31] disenotov opened #831 "links in book.asciidoc aren't working"

[2018-11-02 15:31] disenotov commented on #831
https://github.com/ethereumbook/ethereumbook/blob/develop/book.asciidoc

[2018-11-02 20:24] #490 closed, assigned to nobody

[2018-11-02 20:24] #500 closed, assigned to nobody

[2018-11-02 20:24] #506 closed, assigned to nobody

[2018-11-02 20:24] #522 closed, assigned to nobody

[2018-11-02 20:24] #529 closed, assigned to nobody

[2018-11-02 20:24] #532 closed, assigned to nobody

[2018-11-02 20:24] #540 closed, assigned to nobody

[2018-11-02 20:24] #572 closed, assigned to nobody

[2018-11-02 20:24] #630 closed, assigned to nobody

[2018-11-02 20:24] #632 closed, assigned to nobody

[2018-11-02 20:24] #655 closed, assigned to nobody

[2018-11-02 20:24] #664 closed, assigned to nobody

[2018-11-02 20:24] #694 closed, assigned to nobody

[2018-11-02 20:24] #714 closed, assigned to nobody

[2018-11-02 20:24] #720 closed, assigned to nobody

[2018-11-02 20:24] #722 closed, assigned to nobody

[2018-11-02 20:24] #737 closed, assigned to nobody

[2018-11-02 20:24] #780 closed, assigned to nobody

[2018-11-02 20:24] #784 closed, assigned to nobody

[2018-11-02 20:24] #789 closed, assigned to nobody

[2018-11-02 20:24] #791 closed, assigned to nobody

[2018-11-02 20:24] #792 closed, assigned to nobody

[2018-11-02 20:24] #821 closed, assigned to nobody

[2018-11-02 20:24] #830 closed, assigned to nobody

[2018-11-02 20:24] #831 closed, assigned to nobody

[2018-11-02 20:24] #114 closed, assigned to aantonop

[2018-11-02 20:24] #126 closed, assigned to aantonop

[2018-11-02 20:24] #128 closed, assigned to aantonop

[2018-11-02 20:24] #129 closed, assigned to aantonop

[2018-11-02 20:24] #138 closed, assigned to splix

[2018-11-02 20:24] #145 closed, assigned to aantonop

[2018-11-02 20:24] #149 closed, assigned to aantonop

[2018-11-02 20:24] #193 closed, assigned to overseers-desk, aantonop

[2018-11-02 20:24] #202 closed, assigned to aantonop

[2018-11-02 20:24] #212 closed, assigned to nobody

[2018-11-02 20:24] #276 closed, assigned to nobody

[2018-11-02 20:24] #313 closed, assigned to nobody

[2018-11-02 20:24] #318 closed, assigned to nobody

[2018-11-02 20:24] #322 closed, assigned to nobody

[2018-11-02 20:24] #328 closed, assigned to nobody

[2018-11-02 20:24] #329 closed, assigned to fjrojasgarcia

[2018-11-02 20:24] #361 closed, assigned to nobody

[2018-11-02 20:24] #396 closed, assigned to nobody

[2018-11-02 20:24] #400 closed, assigned to nobody

[2018-11-02 20:24] #421 closed, assigned to nobody

[2018-11-02 20:24] #444 closed, assigned to nobody

[2018-11-02 20:24] #445 closed, assigned to nobody

[2018-11-02 20:24] #450 closed, assigned to nobody

[2018-11-02 20:24] #454 closed, assigned to nobody

[2018-11-02 20:24] #487 closed, assigned to nobody

[2018-11-02 20:24] #85 closed, assigned to aantonop

[2018-11-02 20:24] #95 closed, assigned to aantonop

[2018-11-02 20:24] #101 closed, assigned to aantonop

[2018-11-05 02:49] francoabaroa opened #834 "Typo in Chapter 3"
First off, thanks so much for this book! It's extremely helpful.

Second, I want to confirm this typo in the following section:

https://github.com/ethereumbook/ethereumbook/blob/develop/03clients.asciidoc#the-json-rpc-interface

The text I am referring to is the following:

_The response, 0x430e23400, tells us that the current gas price is 1.8 gwei (gigawei or billion wei). If, like us, you don’t

[2018-11-05 22:01] mpenagar opened #836 "Chapter 11 - data request to oracles"
Smart contracts must be executed by every full node, therefore any data request to an oracle will be conducted by every node, and all of them must get the same answer in order to validate/verify the results of the invoked transaction. Any connection error or data mismatch due to request time would invalidate the block.

Is this inviable, or I am missing something?

[2018-11-05 22:24] chanan-sack commented on #836
Yes, that is incorrect
It is the miner nodes accepting and validating blocks that really matter
here. While full nodes do that as well, miner nodes are the ones accepting
and verifying their own competition.

On Tue, Nov 6, 2018, 00:02 Mikel Penagarikano <notifications@github.com
wrote:

[2018-11-05 22:41] mpenagar commented on #836
But the mined blocks must be accepted by the network. If there is no off-chain interaction and everything is on-chain truth, then the first mined block that is propagated to the nerwork will win. But if the validation of the block depends on off-chain data, that changes everything. If I were a miner, I would censure such transactions...

But I am a newie, could be completely wrong

[2018-11-05 22:54] chanan-sack commented on #836
You got it wrong, and I'm not sure what off chain has to do with this.

Mined blocks must be accepted by a good majority of miners causing the
other miners that have accepted a different version of that same block
height (or just haven't yet) to switch to the version of history that the
majority has.

This is tough to get at first, but over time the paradigm will get clear.
Good luck

On Tue, Nov

[2018-11-06 10:59] mpenagar commented on #836
Off-chain knowledge is the key to link smart contracts to real world.

Second paragraph of Chapter 11:

Section "Oracle Design Patterns" proposes three ways to set up an oracle:

- **immediate-read** :  the oracle stores data _once_ in its contract storage
- **publish–subscribe**:  the oracle _regularly_ stores data in its contract _suscribable_ storage
- **request–response**: the smart contract q

[2018-11-06 11:13] timnugent commented on #836
Nodes do not *do* the query. A request for data from an oracle typically involves generating an EVM event, which is monitored and processed off-chain by whoever is running the oracle service. They will then send a transaction back to the oracle or requesting contract which contains the data, and this is processed in the usual way.

[2018-11-06 13:34] mpenagar commented on #836
That makes sense.

That would mean that the Oracle is _subscribed_ to those EVM query events and responds storing the answer data in the blockchain in a subsequent block (i.e. the smart contract that initiated the query must wait at least one block in order to get the answer).

Then, the third case could be stated as:

- **request–response**: the smart contract does an on-chain query to the oracle

[2018-11-09 15:15] Ashot72 opened #837 "Testing 2_deedrepository.js"
Is

await instance.registerDeed(accounts[0], 123456789);

is right in

it("It should register a deed with id: 123456789", async () => {
        await instance.registerDeed(accounts[0], 123456789);
        let ownerOfDeed = await instance.exists(123456789);
        assert.equal(ownerOfDeed.valueOf(), true , `Result should be true`);
    });

and other tests related to 123456789 ?

Should it be some

[2018-11-13 02:46] Tuanp703 opened #840 "Incorrect description for how Ethereum address is derived"
For chapter: 04keys-addresses.asciidoc, this sentence is not accurate:

_In fact, account addresses are derived directly from private keys: a private key uniquely determines a single Ethereum address, also known as an account._

My understanding is that the public key is utilized to derive the Ethereum address using a hash function. The public key is derived from the private key. Accordingly, I re

[2018-11-13 02:50] #840 closed, assigned to nobody

[2018-11-21 21:22] johnalanwoods opened #843 "Instructions on how to read this book"
It would be helpful (especially for non techie folk) if the entry point for the book was more obvious.

Only because I read the Mastering Bitcoin book did I know to enter at book.asciidoc

Needs something like this: https://github.com/bitcoinbook/bitcoinbook/blob/develop/README.md#reading-this-book

[2018-11-21 21:32] johnalanwoods commented on #843
Created #844 to address this.

[2018-12-02 07:13] ieyei opened #849 "Requesting for updating word"
chapter 6, I think word "to" was changed to "Recipient".
But "to" is still remained.

Note that the field labels (to, gas limit, etc.) are shown here for clarity

[2018-12-02 11:31] #849 closed, assigned to nobody

[2018-12-11 13:23] zopato opened #854 "Chapter 12 - error running auction dap"
Hello,
I'm struggling to execute the auction contract on chapter 12.
I'm running Ganache and use Metamask (what a pain with local blockchain btw).

I've got the following error when I try to create a NFT:

`An unexpected error occured: Error: Error: [ethjs-rpc] rpc error with payload {"id":7095880964866,"jsonrpc":"2.0","params":["0xf9010c3085028fa6ae008307a12094e47f609eaa883d66dbd9aa5cc948765b5c68

[2018-12-19 06:50] EdgarC370 opened #859 "ethereumbook/04keys-addresses.asciidoc python instructions not executing nor evaluating correctly"
errors noted below

Microsoft Windows [Version 10.0.17763.194]
(c) 2018 Microsoft Corporation. All rights reserved.

Python 3.7.1 (v3.7.1:260ec2c36a, Oct 20 2018, 14:05:16) [MSC v.1915 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.

... 671663
  File "<stdin>", line 2
    671663

SyntaxError: invalid syntax

  File "<stdin>", line 1
    p = 11579208

[2018-12-21 12:07] asanzdiego commented on #92
Hello,
I am also interested in participating in the Spanish translation of this book.
I am a Software Engineer with experience in DApp development with Ethrerum.
When the license changes to one that allows derivatives, please tell us so we can coordinate.
Thanks

[2019-01-10 18:50] RichHorrocks opened #867 "Code snippet line numbers cause indentation inconsistencies"
This is perhaps more of an issue caused by how the book is rendered (or printed?)... I have the paper copy of the book, printed in the UK.

Some of the code snippets in the book have line numbering turned on to allow specific lines to be referenced in the text. The line numbers are left-justified, with the padding on the right-hand side, between the line number and the code, being constant, meanin

[2019-01-20 04:24] westerpants opened #873 "Typo of EtherGame in Chapter 9"
But I can only find `depositedWei `in the corrected version of the EtherGame... did i overlook something?

[2019-01-24 07:10] #859 closed, assigned to nobody

[2019-01-25 18:40] cleathers opened #874 "Chapter 6: Invalid Link to consensus subsection"
It looks like the `consensus` link doesn't lead to a valid section.

https://github.com/ethereumbook/ethereumbook/blame/develop/06transactions.asciidoc#L773

Clicking on that link in the asciidoc viewer takes you to a subsection which doesn't seem to exist. https://github.com/ethereumbook/ethereumbook/blob/develop/06transactions.asciidoc#consensus

[2019-02-09 15:09] rusher-R opened #878 "Can I do Chinese transalation for this book?"
I'm a  soft developer from chinese, I just buy the book in Amazon. Can I freely do translating work for this book in my part time? There is a chinese edition in 'Mastering Bitcoin' book.

[2019-02-09 15:24] aantonop commented on #878
Sorry, no. The license does not permit publishing of translations
(derivatives). There is a Chinese publisher already producing a Chinese
translation for sale in China.

One year after publication, we will change the license to permit volunteer
translations.

[2019-02-09 15:28] linshizai commented on #878
Thank you for your reply. In Decemeber 2019, can I start the transaltion of this book?

[2019-02-09 15:28] rusher-R commented on #878
Thank you for your reply. In Decemeber 2019, can I start the transaltion of this book?

[2019-02-09 16:23] aantonop commented on #878
When the license changes. It will likely be Dec 2019, but is not a fixed
date. I have to get an amended license approved by the publisher at that
time.

File in an issue in Dec 2019 if it hasn't happened yet.

[2019-02-09 17:12] rusher-R commented on #878
Thanks a lot!

[2019-02-09 17:13] #878 closed, assigned to nobody

[2019-02-12 12:38] SKKU-Security-Lab opened #880 "chapter12-dapp frontend npm install error"
hi
now I try to Auction Platform Frontend built setup
so I follow the Build Setup notice, but it's not working...
after npm install command conduct,  it shows me error message as below.
--------------------------------------------------------------------------------------------------------------
npm WARN deprecated browserslist@2.11.3: Browserslist 2 could fail on reading Browserslist >3.0 config

[2019-03-03 13:30] athio92 opened #886 "Chapter 7: web3.toWei is not valid"
In chapter 7, on the section where we started truffle in `develop` mode, there is a terminal command as follows:

I tested just now and found out that `web3.toWei(1,"ether")` is not a valid function.
This is the correct one: `web3.utils.toWei("1", "ether")`

[2019-03-03 19:09] adrianmcli commented on #886
That was probably written with Web3.js 0.X.0 rather than 1.0.

[2019-03-03 19:13] AntonioRossi commented on #880
On macOS I also got problems with npm install.
I solved by using node v.8.15.1 and npm v.6.4.1.
Hope this might help you.

[2019-03-09 16:26] dnpotter opened #887 "General typos"
Incredibly useful and informative book - thanks for all your efforts.

Some minor issues:

https://github.com/ethereumbook/ethereumbook/blob/develop/09smart-contracts-security.asciidoc#the-vulnerability-1: end of 3rd para "if we try to subtract 1 from a **uint8** whose value is -128, we will get 127" should be int8

https://github.com/ethereumbook/ethereumbook/blob/develop/09smart-contracts-securi

[2019-04-09 03:32] jimenezfer opened #893 "Chapter 1, none of the evm compilers under version0.4.19 sucessfully compile."
New in the eth space, compiling my first contract , but unable to compile, used all 0.4.19 versions.

Any ideas?

Thank you!

[2019-04-28 06:51] #893 closed, assigned to nobody

[2019-04-29 04:06] 4000D opened #899 "Chapter 9: new case for unexpected ether (mining reward)"
Ether balance of contract account can be increased by mining reward without causing EVM execution.

I think this is special case and impractical because most of users would not mine blocks. But it may be worthwhile with respect to covering all possible cases.

[2019-05-07 19:09] ATL-Flaneur opened #905 "Axes should run 0…16 on Figure 2 in Chapter 4"
On [Figure 2](https://github.com/ethereumbook/ethereumbook/blob/develop/04keys-addresses.asciidoc#ecc-over-F17-math) in Chapter 4, the axes should run 0…16 since 17 = 0 (mod 17).

[2019-05-20 21:41] Vectorlee opened #907 "There is no detail discussion of Ethereum blockchain"
The book doesn't give a detail discussion of Ethereum blockchain, including how transactions are stored in each block, how account info and contract storage are managed and how current PoW consensus algorithm work. The last chapter only mentioned the consensus protocol without explanation.

I read the 'Mastering Bitcoin' book, in which it explained all these blockchain related questions clearly an

[2019-07-12 13:19] jgraber-io commented on #893
Having the exact same issue.  Would you mind sharing how you solved this, @jimenezfer ? 🙏

[2019-07-12 13:21] JohnGraber commented on #893
Ah.  Never mind.

**Compiling with 0.5.10 works.**

[2019-07-12 13:28] jgraber-io commented on #893
**0.4.26 will compile.**

Trial and error, ftw.

[2019-08-06 18:15] technoplato opened #912 "Would a PR for "next" and "previous" chapters at the footer of the .asciidoc files be accepted?"
It's a small thing, but I would find it more convenient to read this in the Repository if you could easily navigate chapters at the bottom of each respective chapter.

I'd put in a PR if someone would say it would be accepted.

Thanks.

[2019-08-13 07:52] srghma opened #913 "Specify why one can't recreate dao contract on Local Blockchain Simulation"
There is a sentence re Local Blockchain Simulation

https://github.com/ethereumbook/ethereumbook/blob/develop/03clients.asciidoc

[code]

Could you specify why?

Why it's not possible to reproduce DAO contract issue with enough computational power?

[2019-09-12 13:36] H34D commented on #110
i have started a structured list incl. access layer to support auto detection:

https://github.com/ethereum-navigator/atlas/blob/master/atlas.json

[2019-09-15 05:46] JihoonJang opened #915 "Can I translate this book into Korean language for open source versions?"
Hi, my name is Jihoon Jang, a student from South Korea interested in learning more about ethereum. I'm participating in ethereum contributhon and I think it is very helpful if there are open source versions of this book translated into Korean language. I was wondering if I could translate your book into Korean language? I think it will be really helpful for many people from Korea who are intereste

[2019-09-18 23:54] FantasticKey4 commented on #913
Test

[2019-09-23 12:17] #915 closed, assigned to nobody

[2019-12-03 06:49] ErHarshal commented on #886
this is the web3 version problem in new version utility functions like toWei and many others have been move to web3.utils

[2019-12-20 14:27] mehlawat opened #918 "Chapter 5 - Confusing stats around number of possible seeds"
This statement looks a bit misleading because the actual seed would be 256 bit (i.e. first 256 bit of the output) ? Due to this the number of possible seeds is also exaggerated in the general note which follows

_"PBKDF2 stretches the mnemonic and salt parameters using 2,048 rounds of hashing with the HMAC-SHA512 algorithm, producing a 512-bit value as its final output. That 512-bit value is the s

[2019-12-20 15:40] mehlawat commented on #918
Realized that seed is actually 512-bit and its the master private key which is first 256 bit. Last 256-bit are used as chaincode which along with index creates HD wallet as per BIP-32. Closing this issue

[2019-12-20 15:40] #918 closed, assigned to nobody

[2020-01-03 23:10] aantonop opened #921 "Hiring a Github Editor to manage this repo"
I would like to get a second print or second edition of the book released by Q2/Q3'2020.

Unfortunately, I cannot focus time on processing all the PRs and Issues to get it done. Many of the examples are out of date and don't compile or work properly. They all need to be updated. Many have already been "fixed" with PRs, but all need to be tested and improved.

I am looking to hire a part-time edito

[2020-01-04 00:29] Christofon commented on #921
Hi Andreas!

I'm Chris from Vienna, Austria. Been involved with crypto since 2016 and an enthusiastic advocate. That's why I would love to help you with this and thereby actively contribute to the education and onboarding of developers. Besides that, I as a student appreciate every opportunity to earn some extra crypto. :)
Hourly rate of $20 would be nice

When it comes to technical knowledge to e

[2020-01-04 01:12] tryjude commented on #921
Hi Andreas,

I'm from Canada but I'll be spending time in Portugal in March and April on a little bit of a sabbatical. I'll have extra free time during this period to focus on the book and that was actually already my plan even before I saw your tweet. I have a hardcopy of Mastering Ethereum and will be taking it with me during this time away.

I've been mining Ethereum since 2017 and dabbling her

[2020-01-04 02:46] 0xmountaintop commented on #921
Hi Andreas,

I am HAOYU from China,

PR:

+ https://github.com/ethereum/go-ethereum/pull/17571
+ https://github.com/vyperlang/vyper/pull/1046

I co-design https://github.com/ethereum/EIPs/blob/master/EIPS/eip-2266.md , a fair atomic swap protocol.

I have a new paper on ETH2.0 sharding, but the result is not out yet, so I am not sure whether it can get accepted and I'd better don't provide further

[2020-01-04 10:30] v1thesource commented on #921
Hi Andreas,

I'm Alex from London, though I'm currently based in Zurich. I'm a native English speaker and recently completed my Ph.D. thesis (https://github.com/v1thesource/PhD-Thesis), so I have ample experience in writing and editing a large technical document. I've run an Ethereum full node in the past (mostly for learning/curiosity) and have the programming competencies to properly test out th

[2020-01-04 15:13] iquidus commented on #921
Hi Andreas,

I'm Luke, a core developer of Ubiq. I've been an open source dev for many years and would be more than happy to volunteer time to this. You've contributed a tremendous amount to this space and books like this are an invaluable resource for new developers. As such, my hourly rate would be $0.

I have ample experience running nodes, writing block explorers, writing and deploying contrac

[2020-01-04 16:31] ghost commented on #921
Hi Andreas,
I'm Moazaad, and I would love to volunteer my free time to help you on this project with no cost. Why you should hire me for this? This is because we are going to start a special relation here. Let's make decentralization speed up!

[2020-01-04 20:22] tomw1808 commented on #921
Hi,
I'm Thomas, I did one of the first video courses on Ethereum Development back in 2016 when AlethZero and Solidity 0.3 was in. I recorded then a couple more courses over the past years, about truffle, geth, pantheon/besu, web3@0.20, web3@1.0.0, the list goes on. I worked for the blockchain training alliance as advisor for their Ethereum certification program. I also published a book on Ethereum

[2020-01-04 22:30] us3r01 commented on #921
Hi, I'm from Mexico.

I'm creating an Ethereum and Maker Dao course for the startup Lumit incubated at Blockchain at Berkeley. I have a blockchain certification issued by Consensys . My knowledge about Ethereum is up to date.

Attached you my Linkedin if you would like to connect.

https://www.linkedin.com/in/398169174/

My hourly rate is $20 USD.

Best Regards!

[2020-01-05 14:49] aantonop commented on #912
No, sorry. The primary "target" for the source code is the print edition.

I am preparing to open source the book anyway, so people can start making PDFs for easier reading.

[2020-01-05 14:49] #912 closed, assigned to nobody

[2020-01-05 14:53] CallMeGwei commented on #921
I've been in the blockchain space a while, transitioning from the writing/philosophical side of the space to the developer side over the past year and a half.

I've been "certified" as an Ethereum dev by B9Lab and was also one of the inaugural students in Truffle University last year.

I'm currently about 33.5% of the way through Mastering Ethereum - and have had a few small quibbles here and ther

[2020-01-05 16:07] technoplato commented on #912
Understood, thanks!

On Sun, Jan 5, 2020 at 9:49 AM Andreas M. Antonopoulos <
notifications@github.com> wrote:

[2020-01-05 17:06] safetyth1rd commented on #921
Hi my name is Danger Zhang and I'm the guy on twitter who prodded you to create this request =)

I'm a professional technical content writer with writing and editing experience for technical publications. I recently contributed major sections to and edited multiple chapters of ["Fundamentals of Smart Contract Security" by Quantstamp](https://www.amazon.com/Fundamentals-Smart-Contract-Security-Rich

[2020-01-07 04:05] adrianmcli commented on #921
Hi @aantonop from the Truffle team!

I'm the director of frontend engineering and developer relations at Truffle.

We want to lend our official support in editing and correcting mistakes relating to Truffle usage in the book. We'll make sure that the book is as accurate and as up-to-date as it needs to be. Of course, we will be doing all this for free in the spirit of open-source.

As a previous c

[2020-01-07 13:46] #834 closed, assigned to nobody

[2020-01-07 13:46] #843 closed, assigned to nobody

[2020-01-07 13:50] wbnns commented on #873
@westerpants Thanks for mentioning. This was a typo and has been fixed.

[2020-01-07 13:50] #873 closed, assigned to nobody

[2020-01-07 13:54] wbnns commented on #880
@kimrdb Please check to make sure you first have `git` installed on your machine, and try again.

@AntonioRossi Thank you for trying to help.

[2020-01-07 13:54] #880 closed, assigned to nobody

[2020-01-07 14:02] wbnns commented on #887
@dnpotter Thank you. These issues have all been resolved in preparation for the next upcoming print.

[2020-01-07 14:02] #887 closed, assigned to nobody

[2020-01-10 12:07] ChrisLinn commented on #874
It has been moved to https://github.com/ethereumbook/ethereumbook/blob/develop/14consensus.asciidoc

[2020-01-10 12:07] HAOYUatHZ commented on #874
It has been moved to https://github.com/ethereumbook/ethereumbook/blob/develop/14consensus.asciidoc

[2020-01-12 10:17] #886 closed, assigned to nobody

[2020-01-22 19:03] aantonop commented on #921
I have engaged @safetyth1rd (who was one of the first to start working on revising these examples) to complete the work. In addition, @wbnns is doing the editorial and repository work he has always done.

Thank you @safetyth1rd and thank you @wbnns !

With this help I expect we will get the second print up and done soon enough. More good news to follow!

[2020-01-22 19:11] adrianmcli commented on #921
This is awesome! @safetyth1rd and @wbnns don't hesitate to reach out to me personally if you would like any help from the Truffle team! Feel free to tag me in any PRs that are relevant.

[2020-01-22 19:15] aantonop commented on #921
@adrianmcli  @nicholasjpaterno Very much appreciate your help with any and all examples that mention truffle or any truffle-related parts of the book that need corrections. Please submit PRs! We want to get to a second print before the end of February

[2020-01-22 19:15] #921 closed, assigned to nobody

[2020-01-23 09:56] pr0toshi opened #926 "Change license to open source cc by sa now that 1y has gone by"

[2020-01-23 11:47] wbnns commented on #921
@adrianmcli @nicholasjpaterno Thanks so much. I sent you all an email.

[2020-01-23 12:09] adrianmcli commented on #913
It's actually possible to fork off the main chain with Ganache. Paging @davidmurdoch and @nicholasjpaterno.

[2020-01-23 15:49] davidmurdoch commented on #913
Only one of the disadvantages of using Ganache are currently true:

- Having no other users means that it doesn’t behave the same as a public blockchain. There’s no competition for transaction space or sequencing of transactions.
  - you are able to randomly submit transactions to ganache and it will order them by price and nonce. It doesn't have all of the nuances of transaction prioritization th

[2020-02-16 22:54] aantonop commented on #926
Done 3fce347

See README.md for details

[2020-02-16 22:54] #926 closed, assigned to nobody

[2020-02-21 15:24] Met7 opened #952 "Chapter 9/security - undefined variables in examples"
Example 3 (original and fixed version), uses "balance" in withdraw(). Example 5 uses "transferValue" in claimReward(). Both undefined. The variables seem necessary to avoid reentrancy, just the definition is missing. Example 5 is where I got so far. I did a quick scan of the rest of the chapter and seems ok but can't say for sure.

[2020-03-06 04:29] 93paxton opened #953 "How to satisfy condition to enable a button "FINALIZE AUCTION"?"
Hi,

Thanks for the great dapp frontend. I've been learning a lot from it. Had a quick question:

I may be missing something but is the logic (i.e., "...:disabled="!isAuctionOwner(auc) || !isLastBidder(auc) ...") used in the line# 50 of the Auction.vue valid?
That is, given that an auction owner cannot bid his/her own auction, it seems that the button can never be enabled as one cannot be an aucti

[2020-03-13 21:13] wbnns opened #955 "Reviewing and updating Truffle-related references and code"
@adrianmcli @nicholasjpaterno

Thank you all for your offer of assistance with helping review and update Truffle-related references and code. As discussed via email, opening this issue so we can organize / coordinate together.

There are currently a significant number of references, as can be seen via `git grep 'truffle'` ([here's a link to a gist with the output](https://gist.github.com/wbnns/dc4

[2020-03-15 11:44] adrianmcli commented on #955
@wbnns thanks for the initial push.

I ran a similar command and found **51 files for "truffle" and 13 files for "ganache"**: https://gist.github.com/adrianmcli/97fd7388989aba80c8ec15de66ec4c45

I think this can be broken down into the following categories:

1. Chapters, Appendix, Glossary — Mostly text in paragraphs.
2. Code-based — Actual code.
3. Miscellaneous — Things in the `contrib` folder a

[2020-03-15 11:45] adrianmcli commented on #955
Also @wbnns is there a new deadline that you can give us?

[2020-03-16 17:07] wbnns commented on #955
@adrianmcli

This sounds great. Thanks so much!

With regard to a deadline, it would be great to see what you all may be able to help us accomplish in the next 2-4 weeks, alongside your other commitments, if possible.

[2020-03-16 18:09] adrianmcli commented on #955
@wbnns Got it. @nicholasjpaterno and I will coordinate to have this done in a few weeks!

[2020-03-16 18:34] wbnns commented on #955
@adrianmcli @nicholasjpaterno

Thanks! Please let us know as any questions arise.

[2020-03-23 13:00] shargon commented on #899
Yes, this page only mentions two ways

https://github.com/ethereumbook/ethereumbook/blob/develop/09smart-contracts-security.asciidoc#unexpected-ether

[2020-04-04 04:23] adrianmcli commented on #955
@wbnns 3 PRs are now ready for review for the Ganache-specific references. Do note that I didn't run through the tutorial itself yet, I just corrected things that I know to be incorrect. I assume someone needs to do all that before publishing (i.e. actually read through the book and do the tutorials).

## Ganache

- [x] Chapters, Appendix, Glossary: #960
[code]
- [x] Code: #959
[code]
- [x] Miscel

[2020-04-04 04:30] adrianmcli commented on #955
Potential task for myself: Actually run the Truffle projects in the `code` folder to see if they work.

[2020-04-04 04:57] adrianmcli commented on #955
@wbnns It's my understanding that files in the `contrib` folder aren't actually part of the book and that a lot of them are files to be potentially included.

I think it might be a good idea to ignore them for now as a couple of them are quite outdated and require a lot of work to update. I'd rather focus our limited energies on what's already in the book.

Also, #961 is my review of the in-text r

[2020-04-08 13:43] wbnns commented on #955
@adrianmcli Thanks for the assistance! Merged #958, #959, #960 & #961.

Just to confirm, are you all still in the process of reviewing `code/truffle/*`?

Regarding `contrib/`:

Understood. Let's defer to @aantonop on this.

Also:

Yes, this is correct.

[2020-04-08 20:58] adrianmcli commented on #955
@wbnns thanks for the merge

I'm waiting to see when #962 gets merged in. Since 0.6 brings quite a few significant changes to the code, I'd have to do the reivew/testing all over again if I did it now and the PR was subsequently merged.

[2020-05-08 09:24] jochem-brouwer opened #963 "Fix error regarding contract creation address"
The book states that any transaction to the `zero address` (i.e. `0x0000..0000`) is a special transaction which creates a contract. This is wrong. A contract is created if you send it to the `null` address. You can send a transaction just fine to `0x0000...0000` which does not create a contract.

Excerpt from the Ethereum Yellow Paper: (page 4, section 4.2 "The Transaction")

I.e. the ∅ "address"

[2020-05-08 09:28] adrianmcli commented on #955
Just pointing out that I am no longer associated with Truffle, but I am happy to keep helping with the book.

[2020-05-09 04:11] wbnns commented on #955
@adrianmcli

Ok, that would be great. I hope the move is for the best and that it connects you with a new and awesome opportunity.

What do you currently have bandwidth for in terms of what we were discussing previously?

[2020-05-09 04:19] adrianmcli commented on #955
@wbnns I think we should make a decision on @HAOYUatHZ's issue first: https://github.com/ethereumbook/ethereumbook/pull/962#issuecomment-611265378

[2020-05-10 16:02] alko89 opened #964 "Typos in smart contract and tokens chapter"
Hi

While reading the book I noticed a two typos in 9th and 10th chapter:

The first one is in chapter 9 line 1107 in the contract comment, that is missing a space (`transactionsas`). I'm not sure if this is intended because the referenced contract had the typo as well.

The second one in chapter 10 line 702 its written `transfer tokens defined in another token.` I think this should be `transfer t

[2020-05-11 20:52] YannyD commented on #952
Yes example 5 does have several errors. Additionally, immediately following the example it refers to "depositedEther" rather than "depositedWei".

I also see an issue in the explanation of example 9-7. He writes that line 21 calls fibonacci(uint256) but it actually is calling setFibonacci.

I haven't had issues with the book this far, but this chapter seems a bit sloppy. I also wonder why they pla

[2020-06-04 06:53] unix0r opened #971 "Building frontend for auction_dapp fails"
Hey guys, I'm trying to get the auction_dapp running as part of my master thesis, but somehow the example frontend is not building.

Just created a naked Ubuntu 20.04 in a VM for experimenting on this and following the instructions of the book I keep getting this error while installing sha3:

[code]

This is the mentioned debug log file:
[2020-06-04T06_43_19_511Z-debug.log](https://github.com/ethe

[2020-06-04 07:00] unix0r commented on #971
https://github.com/ethereumbook/ethereumbook/pull/957/files

Did the trick. :-)

[2020-06-04 07:00] #971 closed, assigned to nobody

[2020-06-09 13:20] chanhosuh commented on #963
If you look at the raw serialized transaction, I don't think it matters whether you use the "null" address or the zero address, it serializes as the same thing so there is no difference in what the EVM receives.

[2020-06-09 13:27] jochem-brouwer commented on #963
@chanhosuh Then explain to me how it is possible to send ETH to the zero address directly. Following this reasoning, it would try to create an empty contract and would thus **not** be sent to the zero address.

[2020-06-09 13:43] chanhosuh commented on #963
You can send ETH to any address, including the zero address.  If a contract is created from the data payload, that ETH will be added to the contract account balance.  I'm not sure what the confusion is here, really.  Do you dispute my statement about the serialized transaction, which can be easily validated?

[2020-06-09 14:57] jochem-brouwer commented on #963
@chanhosuh If you validate all contract creation transactions, including those with **empty calldata**, then you will see that the address to: field is empty. You can send transactions to the zero address with calldata which still do not create a contract. This is per the Yellow Paper.

If you show me a transaction which is to: zero address and which **creates a contract** then I am convinced.

[2020-06-09 19:41] chanhosuh commented on #963
@jochem-brouwer Yeah, I'll concede the point.  I checked several transactions that created contracts and found `0x80` there instead of an RLP-ed address.  There were several stuck at the zero address with contract bytecode as data but those didn't create contracts.

Interestingly, I noticed the Solidity docs were updated at some point to change some references from zero address to null.

[2020-06-09 19:49] chanhosuh commented on #836
Personally I find language like "on-chain query" confusing.  It might be better to use language like "broadcast", because when you make the oracle "query", you are really broadcasting the request to the oracle network by creating events.  It's less like I'm asking you a question and it's more like I'm shouting it loudly and hope someone nearby is going to pick it up.

[2020-06-09 19:52] chanhosuh commented on #955
Has anyone gone through the proposed tutorial changes to make sure everything works with all the recent updates?  Or do you need a hand on that?

[2020-06-09 19:56] adrianmcli commented on #955
@chanhosuh I want to do it after all the code has been upgraded to 0.6. (e.g. when #962 is merged). Not sure why it's not merged yet though?

@HAOYUatHZ @wbnns what's the timeline on having everything converted to 0.6 so we can test things out and finalize this edition of the book?

[2020-06-09 20:08] chanhosuh commented on #955
by the way, I noticed the truffle build artifacts are also being committed for several of the projects... is that on purpose?  Not sure what benefit that provides, but possibly could be an issue since it contains a mapping of network IDs to contract addresses which wouldn't work for readers.  It also leaks a bit of info about the user's local environment, but that can be stripped out harmlessly, I

[2020-06-09 20:16] wbnns commented on #955
@adrianmcli

Hello. I think late summer / early fall might be the earliest, most realistic estimate.

[2020-06-09 20:55] adrianmcli commented on #955
@chanhosuh agreed, those can definitely be gitignored.

[2020-06-09 22:50] 0xmountaintop commented on #955
#962 is kind of ready.

If anyone can review it will be the best!

[2020-06-09 22:52] 0xmountaintop commented on #964
@Alko89 sure you are welcome to do so. It is indeed a typo.

[2020-06-29 20:15] adrisys opened #973 "Error getting Ether from faucet in Ropsten"
When I try to request 1 ether from faucet in Ropsten network I get:

```{"error":"[ethjs-query] while formatting outputs from RPC '{\"value\":{\"code\":-32603,\"message\":\"Too Many Requests\",\"data\":{\"originalError\":{}},\"stack\":\"Error: Too Many Requests\\n at /www/node_modules/web3-provider-engine/subproviders/rpc.js:51:23\\n at Request._callback (/www/node_modules/web3-provider-engine/sub

[2020-07-10 11:52] jordanlesich commented on #973
I also got this error last night. After switching networks, opening and closing my browser, signing in and out of metaMask, and waiting, it ended up working.

[2020-07-10 12:03] jordanlesich opened #974 "Following Ch.2 generates Remix error "Gas estimation failed""
I'm following along on Chapter 2 using the updated code found in this repo. When I try to withdraw from faucet.sol, I get this error:

**Other info:**

- There's currently 1.9989 ETH in my metamask account.
- I am running injected Web3 on Ropstein.
- Everything was working up to this point.
- And yes, I enclosed my withdraw amount in quotes.

Here is the code I am using for faucet.sol.

[code]

[2020-07-10 12:11] jordanlesich commented on #974
Just tried with code copied and pasted from this repo's faucet.sol. Same error,

[2020-08-06 13:40] AM-77 commented on #974
This occurs because the smart contract does not have the ETH you want to withdraw from it to your wallet.
So, you need to make sure that the smart contract has the amount of ETH you want to withdraw from it ( by funding it first ).
_you may wan to close this issue, because it is not related to the book it self, its an issue in your execution process._

**Good Luck**

[2020-08-17 15:56] vnavascues opened #989 "Book code examples in Solidity v0.6.12 and showcase scripts for Truffle projects"
Hello everyone,

First of all, I'd like to thank you the authors and contributors of this book.

I've been following the code examples, so I want to share my work in case it can help anyone. Besides comments and my own twist, these are the main differences from the book:

- Written in Solidity v0.6.12 and documented using NatSpec.

- Each Truffle project has showcase scripts.

- **Chapter 09 - Sma

[2020-08-26 21:18] noconsulate opened #990 "Link to Truffle section in chapter 07 is incorrect"
The link to setting up Truffle in Chapter 07 seems to look for the Truffle section within Chapter 7 but that section is actually in the appendix.

[2020-09-08 23:33] howardpen9 opened #992 "Ch8: The URL of Vyper Example failed"
https://github.com/ethereumbook/ethereumbook/blob/develop/08smart-contracts-vyper.asciidoc

![image](https://user-images.githubusercontent.com/36764495/92537411-a2ceaf00-f26e-11ea-9784-1798ea579bab.png)

LINK: https://github.com/vyperlang/vyper/blob/master/vyper/types/convert.py
can't be found.

[2020-09-09 03:32] howardpen9 commented on #992
should be changed to this link

https://github.com/vyperlang/vyper/blob/da740d968f2562693fd576790b7b3f0441864a91/vyper/functions/convert.py

[2020-09-16 11:43] dazdaz opened #993 "Suggestion : PDF version of the book"
How about either providing a PDF or instructions on howto create a PDF from this content.

[2020-09-16 11:48] aantonop commented on #993
While this content is provided for free and under an open license, convenience costs money...

Producing a quality PDF from the source requires quite a lot of work to set up. I sell an ebook bundle, that you can read on a variety of devices with well formatted PDF, EPUB and MOBI files on my website (aantonop.com/shop)

[2020-09-16 11:48] #993 closed, assigned to nobody

[2020-10-09 01:02] jacksanford1 opened #995 "Ch 7: Estimating Gas Cost"
Been trying to get the code to work in the Estimating Gas Cost section of Chapter 7 with no success.

gas_estimates.js times out with no error codes for me.

I think the line causing the issue is:

`return FaucetContractInstance.withdraw.estimateGas(web3.utils.toWei(0.1, "ether"));`

The "estimateGas" function is now constructed differently:

https://web3js.readthedocs.io/en/v1.2.0/web3-eth-contra

[2020-10-09 10:22] vnavascues commented on #995
Hi @jacksanford1,

I link below how I did it. Hope my repo helps you.

https://github.com/vnavascues/solidity_playground/blob/master/mastering_ethereum/truffle/07_Faucet/scripts/demo_gas_estimates.js

P.S. I recommend you to keep looking this repo PRs. For instance this may be related (i.e. first param as String):
https://github.com/ethereumbook/ethereumbook/pull/994/files

[2020-10-12 23:55] jacksanford1 commented on #995
Thanks @vnavascues! Strangely, I had to remove the "await" from line 13 in your code and then it worked perfectly for me! Thanks for the help! Your code should definitely replace what is currently in Chapter 7.

[2020-10-13 00:12] aantonop commented on #995
@vnavascues please file a pull request so we can fix it. Add your name to
the contributions if you do!

On Mon, Oct 12, 2020 at 6:55 PM jacksanford1 <notifications@github.com>
wrote:

[2020-10-16 19:04] vnavascues commented on #995
@jacksanford1 Glad it helped you!
Such an honour @aantonop you mentioned me. As PR #994 already addresses some type problems with the amount of ETH, instead of opening my PR just for this script, I've pasted there a book's version of mine. The issue is that any Truffle script function must be exported ([reference](https://www.trufflesuite.com/docs/truffle/getting-started/writing-external-scripts#f

[2020-10-18 07:57] Axium7 opened #996 "Chapter 9 Contract GameEther - Undeclared variable transferValue."
P# 184 in the book and on GitHub contract EtherGame.  See attached Screenshot.
![Undeclared Variable](https://user-images.githubusercontent.com/73054951/96361716-38a10800-1152-11eb-8975-d03085e05735.jpg)

[2020-10-20 23:19] deric-alchemy opened #997 "Alchemy Contributions - appdx-dev-tools.asciidoc"
@aantonop Please take a look and let us know if this outline for changes below seems reasonable - if so, we'll go ahead and write it up.

We (engineers from Alchemy) plan on modifying [appdx-web3js-tutorial.asciidoc](https://github.com/ethereumbook/ethereumbook/blob/develop/appdx-web3js-tutorial.asciidoc) to include references to both Infura and Alchemy, so that potential developers have clarity o

[2020-10-20 23:45] aantonop commented on #997
This looks great. I think you might want to add a section in the beginning that explains "why and when should I use Alchemy", to help create context and relevance.

Otherwise, please proceed. I will gladly accept a PR for these two sections. Please also remember to add the names of the contributors directly to the github contributors document as part of the PR. You can add as a "team" or mix in al

[2020-10-27 21:36] lucadgtrip opened #999 "Wrong Faucet code"
The faucet code in
https://github.com/ethereumbook/ethereumbook/blob/07e5110916b2f06b0cb150e2e01545f5fa11431b/02intro.asciidoc
does not compile.

The code in
https://github.com/ethereumbook/ethereumbook/blob/develop/code/Solidity/Faucet.sol
works

[2020-11-13 10:49] wally000 opened #1001 "Wrong link in line # 270 of file 02intro.asciidoc"
in line # 270 there is a wrong link in the hypertext [high_level_languages], it points to the wrong page.

[2020-11-13 10:52] wally000 opened #1002 "Wrong link in line # 254 of file 02intro.asciidoc"
in the file 02intro.asciidoc, the link in line # 254 (i.e. [evm_chapter]) points to the wrong page.

[2021-01-02 18:06] torgammelgard opened #1004 "Wrong link on line 49, 57 in file appdx-web3js-tutorial.asciidoc"
code/web3js/web3-contract-basic-interaction.js should be
code/web3js/web3js_demo/web3-contract-basic-interaction.js

[2021-02-08 12:54] mario335 opened #1013 "Difference between metamask and ethereum provider"
I found this image online but I can't tell the difference between metamask and an Ethereum provider. Also doesn't metamask use a provider to connect to the network? I'm confused
![image](https://user-images.githubusercontent.com/76747917/107222177-e3487980-6a14-11eb-82ee-3efa211e7056.png)
What are the differences? What does it mean to choose one or the other in terms of ether and account managemen

[2021-02-13 09:07] wbnns commented on #836
@mpenagar @chanhosuh

Hello. Following up on this would one of you like to open a pull request to incorporate the suggested rewording?

[2021-02-13 09:14] wbnns commented on #1013
@mario335

Hello, in this context it's referring to an alternative Web3 provider.

Yes, [Infura](https://infura.io/).

[2021-02-13 09:14] #1013 closed, assigned to nobody

[2021-02-13 09:22] #1004 closed, assigned to nobody

[2021-02-13 09:58] wbnns commented on #1002
Hello, apologies, I'm unable to reproduce this issue. Please let me know the steps you took to encounter it on your side and I'll reopen to investigate.

[2021-02-13 09:58] #1002 closed, assigned to nobody

[2021-02-13 09:58] wbnns commented on #1001
Please see my comment on #254.

[2021-02-13 09:58] #1001 closed, assigned to nobody

[2021-02-13 10:00] wbnns commented on #999
@lucadgtrip

Thanks for reporting. This is in the process of being updated.

[2021-02-13 10:04] wbnns commented on #997
PRs merged.

[2021-02-13 10:04] #997 closed, assigned to nobody

[2021-02-13 10:08] #992 closed, assigned to nobody

[2021-02-13 10:09] wbnns commented on #992
@howardpen9 Thanks!

[2021-02-13 10:42] wbnns commented on #990
Hello, apologies, I'm unable to reproduce this issue. Please let me know the steps you took to encounter it on your side and I'll reopen to investigate.

[2021-02-13 10:42] #990 closed, assigned to nobody

[2021-02-13 10:45] wbnns commented on #989
@vnavascues

Thanks for sharing. 👍 The code in the book is in the process of being updated, so stay tuned for more opportunities to work through additional material.

[2021-02-13 10:45] #989 closed, assigned to nobody

[2021-02-13 10:46] #973 closed, assigned to nobody

[2021-02-13 10:46] #964 closed, assigned to nobody

[2021-02-13 10:50] #913 closed

[2021-03-01 07:14] PumpkinSeed opened #1014 "Geth client version incorrect in chapter 3"
03clients.asciidoc content:

---
The response we receive is:

[code]

This tells us that the JSON-RPC API is being served by Geth client version 1.13.4.

---

**The Geth client version  is 1.9.11, the other one is the Go version used to compile.**

[2021-03-10 13:39] wbnns commented on #955
#962 is merged, sorry for the delay!

[2021-03-12 07:55] wbnns opened #1016 "Updating MetaMask screenshots"
The UI of MetaMask has changed a bit since the first edition was released. We should do a pass at updating all of the screenshots to make sure they match the current UI (some button names have changed as well in it, which could potentially be confusing to a new Ethereum user who is getting started via the book).

[2021-03-12 10:29] wbnns opened #1017 "Chapter 3: Reviewing / potentially updating list of clients"
A good bit of time has passed since the release of the first edition. We should review the list of clients mentioned in [chapter 3](https://github.com/ethereumbook/ethereumbook/blob/develop/03clients.asciidoc) to consider if anything should be added/removed/updated.

[2021-03-29 19:39] tgeorgiop opened #1018 "Hardback and paperback books released on March 2021"
Hello, are the hardback and paperback books released this month the 2nd editions of the book?

[2021-03-29 21:35] Bamskki opened #1019 "Chapter 12 (Dapps): Can we include proxy contracts to the material?"
This has become a hot topic recently with the PAID hack. What are they? What are the trade-offs of implementing such an architecture? How can we build them safely?

Love you, Andreas :*

[2021-04-08 11:00] wbnns commented on #1018
@tgeorgiop

Hello, no, the second edition is still being worked on.

[2021-04-08 11:00] #1018 closed, assigned to nobody

[2021-04-24 02:00] ausbtc opened #1025 "Gas estimation errored with the following message (see below). The transaction execution will likely fail. Do you want to force sending? execution reverted"
hi, i keep getting this message when trying to test my token, any idea's?

[2021-05-07 06:09] davidfloyd91 opened #1029 "Replace shortened links with regular urls"
I was disappointed to see the use of tracking links in the book. Bitly urls hide the actual destination—ironic for a book that rightly warns about phishing—and enable all sorts of marketing creepiness. Why use them?

[2021-06-01 19:28] baermathias commented on #1018
@wbnns @aantonop when is v2 expected to be released/printed? Is there any timeline/roadmap?

[2021-06-05 11:50] orhanavan opened #1032 "Metamask was not detected!"
Hi there.
I was trying to make Auction Dapp from chapter 12.
When I run the application I got an error like this: "Metamask was not detected!" (Even though installed metamask.)

In the backend section:
scripts:
[code]

result:
[code]

In frontend section:
ethereumbook/code/auction_dapp/frontend/src/config.js
[code]
I installed all npm dependencies.
ethereumbook/code/auction_dapp/frontend/src
[code

[2021-06-07 19:16] jauyong commented on #974
Thank you @AM-77. That solved it for me.
What happened to me was that I came back to the "withdrawing from our contract" section of the book after restarting my mac and a few days after doing the previous parts.
I had to redeploy at first, and then I got the error originally reported in this ticket.

Q: Can you or How do you continue working in Remix after an ended session (close browser, log out

[2021-07-04 02:26] samwestby opened #1033 "Chapter 2: Ropsten Test Faucet issues"
Hello! The [MetaMask Ropsten Test Faucet](https://github.com/ethereumbook/ethereumbook/blob/develop/02intro.asciidoc#metamask_ropsten_faucet) wasn't working for me and it appears to go down on occasion [[source](https://github.com/MetaMask/metamask-extension/issues/5439)]. After searching around I found [https://faucet.ropsten.be/](https://faucet.ropsten.be/) but that told me I was "greylisted". F

[2021-07-04 20:17] tritranhong commented on #1033
I dealt with the exact same problem. Finally  https://app.mycrypto.com/faucet works! Thanks a lot @samwestby

[2021-07-04 21:03] taiwobolu opened #1034 "Mastering eth"

[2021-07-12 08:35] wcmolin commented on #1032
I have the same issue
[code]

[code]

[2021-07-18 16:49] Zerophase commented on #999
For 0.8. It needs to be updated to `payable(msg.sender).transfer(withdraw_amount);`

[2021-07-24 21:08] #1034 closed, assigned to nobody

[2021-07-24 21:12] wbnns commented on #1033
Thank you all for reporting! Yes, this needs to be updated.

[2021-08-21 19:52] piscespieces commented on #1033
Same issue here. After requesting 1 ether throws an 500 Server Error. Would appreciate if anybody can be more explicit on how using app.mycrypto.com/faucet helped them to get through. For blockchain newbies it isn't clear what does this tool does, how to make it work and why

[2021-08-30 21:06] corwintines commented on #1033
I would like to fix this, ill get a PR up in the next day or two.

[2021-09-05 13:59] TrulyBlessed91 opened #1041 "First faucet contract issue"
I went an typed in everything as the book says then gives me a error saying parser error primary expression expected at #9 at the very end and won't let me compile. to move forward on Ropsten. can someone please explain this?? an I don't mean to sound dumb but when I put  it ʘ at #2 it produced a  second code so I removed that an placed a 0 with a slash across it an that corrected that code . also

[2021-09-05 19:13] TrulyBlessed91 commented on #1033
I went to the site that you all are describing. yet when I went to request Ether it gave me a code at the bottom . It's not exactly like a normal transaction. But can someone clarify for me please.

[2021-09-14 12:29] djangooffchain opened #1044 "Chapter 9: Uninitialized Storage Pointers is out of date"
Hi, thanks for the amazing book.

I noticed that the vulnerability example here does not work with Solidity 0.8 (it will error out compiling). I believe it has been fixed in one of the recent versions of the compiler, but there is no mention about it in the description.

https://github.com/ethereumbook/ethereumbook/blob/develop/09smart-contracts-security.asciidoc#uninitialized-storage-pointers

[2021-09-23 02:26] liubq7 commented on #990
Yes, it should be https://github.com/ethereumbook/ethereumbook/blob/05f0dfe6c41635ac85527a60c06ac5389d8006e7/appdx-dev-tools.asciidoc#truffle

[2021-09-27 02:48] ghost opened #1045 "BNB"

[2021-10-16 03:43] dB2510 opened #1049 "Chapter 3 should also include Nethermind's Ethereum 1 client"

[2021-11-06 22:51] ronytesler opened #1095 "chapter 09 - broken link"
“submarine sends” - http://bit.ly/2SygqQx
http://hackingdistributed.com/2017/08/28/submarine-sends/

[2021-11-29 14:12] kasboh commented on #1041
Had same issue with MetaMask faucet. so found this alternatives:
https://faucet.ropsten.be/
and
https://faucet.dimensions.network/

[2021-12-18 08:19] baermathias opened #1102 "Printed hardcover edition 2022 ?"
Are there any plans to release a new printed edition? The latest is from 2018 and more than two years old, which is considered as really old in the crypto space. Many, many things have changed since the 2018 version.

[2021-12-23 09:59] Drjacky commented on #736
@GoddessLuBoYan Have you found the solution for Remix **IDE**?

The issue with Chrome is solved if you're not using HTTP**S**

[2021-12-28 19:19] svmonteiro opened #1104 "Hj"
https://github.com/test-results-reporter/reporter/blob/main/assets/teams/test-summary-single-suite.png

[2021-12-28 20:00] #1104 closed, assigned to nobody

[2021-12-31 23:40] CaledoniaProject opened #1105 "Link is dead"
On page https://github.com/ethereumbook/ethereumbook/blob/develop/08smart-contracts-vyper.asciidoc, quote:

The referenced link is 404 now: http://bit.ly/2PuDfpB

[2022-01-05 21:34] minimalsm commented on #1017
@wbnns hey :-) I could tackle this—could you assign me?

I noticed some misinformation around this [on Twitter](https://twitter.com/CarlLippert/status/1478566968248741890).

1. I'm assuming we only want execution layer clients?
2. Unrelated but any idea of what the status of the second edition is?

[2022-01-05 21:46] minimalsm commented on #1095
Seems to be working now :-) @ronytesler

[2022-01-05 21:47] minimalsm commented on #1045
Hey folks, this is a spam issue. Could we close? Thanks.

[2022-01-05 22:42] #1095 closed, assigned to nobody

[2022-01-12 21:35] tgeorgiop commented on #1018
Any news about the v2 books?

[2022-01-13 09:28] delixus-valliammal1 opened #1107 "Files Not present on the mentioned Directory"
There is lot of files are not present.

We need this files of solidity, so that this book can be used nicely
import './SampleToken.sol';
import 'openzeppelin-solidity/contracts/crowdsale/emission/MintedCrowdsale.sol';
import 'openzeppelin-solidity/contracts/crowdsale/ \
  distribution/PostDeliveryCrowdsale.sol';

Where is MintedCrowdSale.sol, and PostDeliveryCrowdsale.sol?

Can you please clarify?

[2022-01-14 06:44] baermathias commented on #1018
@tgeorgiop there is a new/open issue for this https://github.com/ethereumbook/ethereumbook/issues/1102

[2022-01-17 17:42] ronytesler opened #1108 "not a clear sentence."
from https://github.com/ethereumbook/ethereumbook/blob/develop/12dapps.asciidoc#auction_dapp_screen:
"The only functions on the base layer are those that enable a node owner to set information about their own node (specifically the resolver, time to live, or transferring the ownership) and to create owners of new subnodes".

Not clear who the word "their" refers to. The functions? This is the only

[2022-01-18 13:02] FranciscoPontes commented on #1108
If I understood correctly, "their" refers to "a node owner".

[2022-01-18 13:26] ronytesler commented on #1108
@FranciscoPontes Ok but that doesn't make sense because "a node owner" is singular, it should be changed to "his" or "node owners".

[2022-01-18 13:50] haurog commented on #1108
Singular 'they' seems to be widely used in English for at least several hundred years. It has been used to refer to someone of unknown gender. See for example here: https://www.merriam-webster.com/words-at-play/singular-nonbinary-they

[2022-01-18 21:40] #1108 closed, assigned to nobody

[2022-01-21 20:25] eva-cn commented on #1025
did you find the answer ?

[2022-01-22 03:10] ronytesler commented on #963
So "In order to create a new contract, a special transaction is needed that has its to field set to the special 0x0 address and its data field set to the contract’s initiation code." is wrong? If it's wrong, why chapter 12 wasn't fixed until now?

[2022-02-14 05:54] fawadinoz opened #1112 "Master Ethereum book"

[2022-02-14 05:55] #1112 closed, assigned to nobody

[2022-02-17 07:43] zeeklog opened #1113 "Translate to Chinese."

[2022-02-18 13:03] mellyjay553 commented on #1041
We received your complaint and I'd like to know how I can be help

[2022-02-18 16:08] mellyjay553 commented on #1033
We received your complaint and I'd like to know how I can be of help if it hasn't been rectified

[2022-02-19 15:09] php4fan opened #1116 "broken link"
At https://github.com/ethereumbook/ethereumbook/blob/develop/07smart-contracts-solidity.asciidoc#writing-a-simple-solidity-program

That [intro_chapter] links to https://github.com/ethereumbook/ethereumbook/blob/develop/07smart-contracts-solidity.asciidoc#intro_chapter which does not exist.

[2022-02-20 06:49] hellovlady commented on #376
p

[2022-02-26 17:01] mshearer0 commented on #995
I had same issue, solved as:
[code]
notes:

1) wrapping in module.exports after artifacts.require
2) amounts as strings, eg "1"
3) use String(gas * gasPrice) before fromWei call

Tried with callback(); but this produces no console output.

[2022-03-01 20:10] mshearer0 opened #1119 "METFaucet Deployment"
To deploy to local Ganache I had to modify ethereumbook/code/truffle/METoken_METFaucet/migrations/2_deploy_contracts.js as:

[code]
and replace web3.eth.accounts[1] with accounts[1] in the console commands.

truffle-config.js :
[code]

[2022-03-01 20:13] mshearer0 commented on #955
Please see https://github.com/ethereumbook/ethereumbook/issues/1119

[2022-03-12 23:31] SerafDosSantos opened #1120 "Accept request to translate to French (Canada)"
Hi, I don't know who's watching the Transifex.com site, but I requested a language translation (French (Canada)) for _Mastering Ethereum_ and no answer.

I'm finishing the translation of _Mastering Bitcoin_ in French (Canada) and I have time to translate _Mastering Ethereum_ in this locale--very soon.

Cheers,
Seraf

[2022-03-13 15:48] bananlabs opened #1121 "Address payable in Faucet.sol example for solidity 8.0"
In Chapter 2, Faucet.sol example, [a simple contract: a test ether faucet](https://github.com/ethereumbook/ethereumbook/blob/develop/02intro.asciidoc#a-simple-contract-a-test-ether-faucet), for those coding with solidity 8.0 you need to cast the address to 'payable' in this particular example: the 'msg.sender' or it wont compile.

`payable(msg.sender).transfer(withdraw_amount);`

[2022-03-15 15:41] hassan-stash commented on #1116
@php4fan Hi, I've raised this PR for the issue #1116  Appreciate your review. Thanks

[2022-03-16 11:28] aantonop commented on #1116
Links refer to anchors that may be in other chapters and are correctly
referenced when the book is compiled into PDF or other formats. They are
not "valid" in Github viewer only.

[2022-03-18 08:13] mshearer0 opened #1123 "Updating Auction Dapp to Web3 1.2.9 (added Bee with Webpack4 and Babel7)"
I had to make a few changes to Auction Dapp to run with current Web3:

Web3 1.2.9
Node 16.14.0
NPM 8.5.2

1. Update main.js as

[code]
2. Update App.vue to use web3.utils.BN:

[code]

3. In Models add 'new' to initialise contract:

[code]

4.  In Models update all the contract fn calls to either .send (if write) or .call (if read only) in this format:

[code]
5. In Models update all the watchers a

[2022-03-18 08:17] mshearer0 commented on #1032
See https://github.com/ethereumbook/ethereumbook/issues/1123

[2022-03-18 08:18] mshearer0 commented on #854
See https://github.com/ethereumbook/ethereumbook/issues/1123

[2022-03-18 17:14] sahil5d opened #1124 "Satoshi Nakamoto candidate"

[2022-03-26 04:09] SerafDosSantos commented on #1120
_Mastering Bitcoin_ in French (Canada) is done [bitcoinbook Issue #1000](https://github.com/bitcoinbook/bitcoinbook/issues/1000#issue-1172877370). Now moving on with this edition.

Please accept the locale request French (Canada) on transifex.com as I can only do translation with the terms of the OQLF in Canada (which is a government-sponsored French language registered terminological database rec

[2022-04-15 19:02] mshearer0 commented on #1123
To enable chatroom need to run local Geth node.

Whisper was removed from Go-Ethereum in v1.9.21 so had to use v1.9.20

Followed instructions at https://goethereumbook.org/en/whisper/ to generate key for config.js

[2022-04-15 19:18] mshearer0 opened #1127 "Unable to finalize auction"
To finalize an auction you need to be AuctionOwner and be the LastBidder.

[code]
As you can't Bid on your own auction this seems an impossible condition.

[code]

[2022-04-16 22:41] afanashraf opened #1129 "Ethereum"

[2022-04-17 08:19] formulaRoot commented on #736
Try this:

https://github.com/smartcontractkit/full-blockchain-solidity-course-py/discussions/1414

[2022-04-20 20:36] Jereczek commented on #1123
Thanks! Works much better :) Tested on node 16.14.2 and ganache-cli but without whisper.

I'm facing one issue on finalizing auction. Cannot process transaction due to below issue. Maybe you have any idea?
[code]

[2022-04-21 20:58] mshearer0 commented on #1123
Sorry don’t really know. One thing I forgot to put in the issue summary was that I also had to remove all the .toNumber() calls as it seems with Web@1.2.9 they aren’t needed.

(https://github.com/ethereumbook/ethereumbook/pull/1128/commits/bd6129d18400d66fd09205e4f1e3f721f213cf3a)

[2022-04-23 13:50] #1121 closed, assigned to nobody

[2022-04-25 13:58] snowkidind commented on #1124
Fun Fact: Hal Finney is cryogenically frozen.

[2022-04-25 14:09] #1124 closed, assigned to nobody

[2022-05-02 16:25] mshearer0 commented on #1123
Returning to this i've added support for Bee using Bee-js. Needed to move the build to Webpack4 and Babel7 to use Bee-js.

Instead of using FormData (See https://github.com/ethersphere/bee/issues/2864) i translated the auction object (minus the image file) into JSON and uploaded that file along with the image file as an array using Bee-js .uploadFiles. The auction file is not actually used in the

[2022-05-03 22:36] bananlabs opened #1133 "Fix broken link in reentrancy section from chapter 09"
In the further reading on [reentrancy](https://github.com/ethereumbook/ethereumbook/blob/develop/09smart-contracts-security.asciidoc#reentrancy) attack the link [Ethereum Smart Contract Best Practices](http://bit.ly/2ERDMxV) is dead [404]. Please Remove or update it.

[2022-05-09 05:48] SerafDosSantos opened #1134 "Chapter 9 - Smart Contract Security, is untranslatable on Transifex"
Hi @aantonop and team, I'm halfway completing the translation of _Mastering Ethereum_ in French (Canada).

This is a heads-up for Chapter 9, Smart Contract Security, as most of the paragraphs are manually wrapped causing too many text blocks in Transifex.com and not helping with good translation by Google Translate API in the backgrounds.

I haven't made any diff between the Transifex file version

[2022-05-15 17:49] SerafDosSantos commented on #1120
Ahoy @aantonop & repo team! I've completed the _Mastering Ethereum_ book translation to French (Canada).

Cheers!

[2022-05-15 17:50] aantonop commented on #1120
Nice work Serafim. I hope to publish a French version on my site soon

Feel free to do the same of course, since it might take me a while

On Sun, May 15, 2022, 19:49 Serafim Dos Santos ***@***.***>
wrote:

[2022-05-15 18:35] SerafDosSantos commented on #1120
Thanks Andreas! My goal is not necessarily to sell prints, but to make the book content accessible in Africa. There are around 20 french-speaking African countries (~140M people). These books (Mastering BTC & ETH) in french are pure gold for them.

Since these projects are CC-BY-SA, making these available on the web as HTML is a really effective way for them to get access to these books. I run Twi

[2022-05-15 18:50] aantonop commented on #1120
This is fantastic. Thank you for contributing to the education mission!

On Sun, May 15, 2022, 20:36 Serafim Dos Santos ***@***.***>
wrote:

[2022-05-15 19:11] #1120 closed, assigned to nobody

[2022-06-19 12:09] senonchen opened #1136 "truffle faucet migration.sol compile error"
correct line below:
constructor() public {
    owner = msg.sender;
  }

[2022-07-05 14:26] wudapeng268 opened #1138 "How to compile Faucet.sol in remix?"
I compile Faucet.sol in remix, but got following error. It seems version error. Does anyone know how to fix it?

`
ParserError: Source file requires different compiler version (current compiler is 0.8.7+commit.e28d00a7.Emscripten.clang) - note that nightly builds are considered to be strictly less than the released version
--> xx.sol:4:1:
|
4 | pragma solidity ^0.6.4;
| ^^^^^^^^^^^^^^^^^^^^^^^
`

[2022-07-23 13:44] dicethedev commented on #1138
I think you should change your solidity version to the updated one. [ pragma solidity ^0.8.7; ] and check whether is going to fix the error.

[2022-07-23 14:19] dicethedev commented on #1133
This is the updated link to the  Ethereum Smart Contract Best Practices

https://consensys.github.io/smart-contract-best-practices/

[2022-07-31 14:12] abdurahman-harouat commented on #1138
use compiler 0.6.0 and

[code]

[2022-08-05 06:17] godtaehee opened #1144 "Definition of Assert in Quick Glossary need to be modified."
Hello all.

[code]

This is the definition of Assert in ethereum book's Quick Glossary part.

I wonder this below sentence is true:
[code]

After Byzantium Fork, if transaction is failed or some error occurred in smart contract, they are stopped and not consume all the gas paid for a transaction.

So, I think this sentence need to be modified.

Anyone advice ?

[2022-09-15 19:19] AnthonyMadia commented on #789
How was this resolved? Running into the same issue.

[2022-09-15 22:59] loarrid opened #1148 "web"

[2022-09-20 13:30] alfiedotwtf opened #1149 "Use alternative Swarm gateway"
It looks like swarm-gateways.net is dead. I suggest finding an alternative (https://gateway.ethswarm.org/ perhaps) and updating the examples.

[2022-09-23 17:33] shenzhi-shi opened #1150 "what is the most effective way to structure the contract"

[2022-09-23 17:34] #1150 closed, assigned to nobody

[2022-09-30 12:10] BabyBluezz opened #1152 "How to get the historical floor price data (in 1 minute units) of a specified NFT ?"
**Sorry, as many paths have been tried without success. There are a lot of experienced people here, so will ask questions here.
   If this ask is inappropriate, please delete it.**

  **How to return the floor price of NFT at that historical moment through an NFT contract address and a timestamp with 1 minute precision.**

  This floor price is the floor price listed in the market (like the floor

[2022-10-04 18:50] AnandK-2024 commented on #1025
Because of technical considerations, transactions have a gas limit that is enforced, but it also serves as a very excellent rule of thumb for managing your code: you should never create contracts that go over the limit. A contract needs to be divided into smaller contracts if it is so large for technical and maintainability concerns.

[2022-10-12 20:47] gitr0n1n commented on #138
Hey guys, just a follow up on this topic. Please contribute to the open source version adjusted for Ethereum Classic post-merge. ETC is now the larges PoW EVM and likely deserves its own technical book given this positioning. @aantonop it would be great to note the PoS capture happening on Ethereum Foundation (ETH) and how PoW help to reduce this risk. Anyway, I hope to see your contributions on t

[2022-11-09 10:52] radeksvarz opened #1155 "Misleading simplification in the transation chapter"
https://github.com/ethereumbook/ethereumbook/blob/develop/06transactions.asciidoc#transmitting-value-to-eoas-and-contracts

This simplification leads to the understanding that such contract's flow and checks are assured by EVM, while it is rather implemented by higher languages (Solidity, ...).

Minimal proxies are the examples, where such statement is not valid.